<td>
  <div *ngIf="!showDiscussion">
    <div class="pb-3 small">
                  <span>Oт
                    <span class="font-weight-bold">{{ discussion.name }}</span>
                  </span>
      <span class="pull-right" *ngIf="discussion.userId === user.id" (click)="openConfirmModal()">
        <i class="fa fa-remove ml-3"></i>
       </span>
      <span class="pull-right" *ngIf="discussion.userId === user.id" (click)="change()">
         <i class="fa fa-edit ml-3"></i>
      </span>
      <span class="pull-right">{{ discussion.time | date: 'dd.MM.yyyy HH:mm' }}</span>
    </div>
    <div [innerHTML]="discussion.text | safeCode"></div>
    <div *ngIf="!!discussion?.responses?.length">
        <div class="card mt-1 mb-1">
          <div class="card-header">
            <div class="font-weight-bold">Ответы:</div>
          </div>
          <div class="card-body">
        <ng-container  *ngFor="let d of discussion.responses">
          <div class="pb-3">
                  <span class="small">Oт
                    <span class="font-weight-bold">{{ d.name }}</span>
                  </span>
            <!--            <span class="pull-right" *ngIf="discussion.userId === user.id" (click)="openConfirmModal()">-->
            <!--        <i class="fa fa-remove ml-3"></i>-->
            <!--       </span>-->
            <!--            <span class="pull-right" *ngIf="discussion.userId === user.id" (click)="change()">-->
            <!--         <i class="fa fa-edit ml-3"></i>-->
            <!--      </span>-->
            <span class="pull-right">{{ d.time | date: 'dd.MM.yyyy HH:mm' }}</span>
          </div>
          <div class="border-bottom" [innerHTML]="d.text | safeCode"></div>
        </ng-container>
          </div>
        </div>
    </div>

    <div *ngIf="!discussion.parentId || discussion.parentId === -1">
      <button *ngIf="discussion.userId !== user.id" type="button" (click)="showAddResponseForm()"
              class="pull-left btn btn-light btn-sm">
        <i class="fa fa-reply mr-1"></i>
        Ответить
      </button>
    </div>
  </div>
  <div class="row" *ngIf="showDiscussion">
    <app-discussion
      [title]="'Выполняется: Редактирование комментария'"
      [text]="discussion.text"
      (closeEmitter)="update($event)"
    ></app-discussion>
  </div>
  <div class="row" *ngIf="addResponse">
    <app-discussion
      [title]="'Выполняется: Ответ на комментарий'"
      [text]=""
      (closeEmitter)="addNewResponse($event)"
    ></app-discussion>
  </div>
</td>
