<td>
  <div *ngIf="!showDiscussion">
    <div class="pb-3 small">
                  <span>Oт
                    <span class="font-weight-bold">{{ discussion.name }}</span>
                  </span>
      <span class="pull-right" *ngIf="discussion.userId === user.id" (click)="openConfirmModal()">
        <i class="fa fa-remove ml-3"></i>
       </span>
      <span class="pull-right" *ngIf="discussion.userId === user.id" (click)="change()">
         <i class="fa fa-edit ml-3"></i>
      </span>
      <span class="pull-right">{{ discussion.time | date: 'dd.MM.yyyy HH:mm' }}</span>
    </div>
    <div [innerHTML]="discussion.text | safeCode"></div>
  </div>
  <div class="row" *ngIf="showDiscussion">
    <app-discussion
      [title]="'Выполняется: Редактирование комментария'"
      [text]="discussion.text"
      (closeEmitter)="update($event)"
    ></app-discussion>
  </div>
</td>
