<div class="container-fluid">
  <div class="row">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Упражнений : {{ taskCodeList.length }}
          <div class="input-group mb-3">
          <label class="input-group-text" for="complexity">Сложность</label>
            <select (change)="onChange($event.target.value)" id="complexity" class="form-control col-sm-4">
              <option selected>Choose...</option>
              <option *ngFor="let v of complexity"
                      [value]="v.key">{{ v.name }}</option>
            </select>
          </div>
        </th>
        <th scope="col">
          <app-book-mark-star [name]="name"></app-book-mark-star>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let task of taskCodeList; let idx = index">
        <td (click)="goToTasks(task.topicId, task.id, task.status, task.solutionId)" style="cursor: pointer;">
          <div>
            <i class="fas fa-tasks pr-3"></i>
            <span class="font-weight-bold">{{task.name}}</span>
          </div>
          <small *ngIf="task?.complexity" class="ml-1 mr-1  text-muted">
                <span *ngIf="task.complexity == 'DIFFICULT'"
                      class="badge badge-danger ">{{ 'Сложно' }}</span>
            <span *ngIf="task.complexity == 'EAZY'"
                  class="badge badge-success ">{{ 'Легко' }}</span>
            <span *ngIf="task.complexity == 'MEDIUM'"
                  class="badge badge-warning ">{{ 'Средне' }}</span>
          </small>
          <small class="mb-2 text-muted">
            <span>
          <span *ngIf="task.status === 1" class="badge badge-danger mr-3">Новая</span>
          <span *ngIf="task.status === 2" class="badge badge-warning mr-3">В процессе</span>
          <span *ngIf="task.status === 3" class="badge badge-warning mr-3">В процессе</span>
          <span *ngIf="task.status === 4" class="badge badge-success mr-3">Решена</span>
            </span>
          </small>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
