<div class="col-sm-2 pull-right">
      <span *ngIf="user?.name !== 'anonimus' && !!discussion?.id && discussion?.userId != user?.id" class="pull-right">
        <i *ngIf="rating?.vote !== 'DOWN'" (click)="vote(false)" class="fas fa-thumbs-down text-muted"
           style="cursor: pointer;"></i>
        <i *ngIf="rating?.vote === 'DOWN'" (click)="vote(false)" class="fas fa-thumbs-down text-danger"
           style="cursor: pointer;"></i>
        <span class="ml-1 mr-2">{{ rating?.down }}</span>
        <i *ngIf="rating?.vote !== 'UP'" (click)="vote(true)" class="fas fa-thumbs-up text-muted"
           style="cursor: pointer;"></i>
        <i *ngIf="rating?.vote === 'UP'" (click)="vote(true)" class="fas fa-thumbs-up text-primary"
           style="cursor: pointer;"></i>
        <span class="ml-1">{{ rating?.up }}</span>
      </span>
</div>
