
  <span
    *ngIf="user?.login !== 'guest' && !!discussion?.id && discussion?.userId != user?.id"
    class="d-flex align-items-center gap-1">

    <!-- DOWN -->
    <i *ngIf="rating?.vote !== 'DOWN'"
       (click)="vote(false)"
       class="fas fa-thumbs-down text-muted"
       style="cursor: pointer;"></i>

    <i *ngIf="rating?.vote === 'DOWN'"
       (click)="vote(false)"
       class="fas fa-thumbs-down text-danger"
       style="cursor: pointer;"></i>

    <span>{{ rating?.down }}</span>

    <!-- UP -->
    <i *ngIf="rating?.vote !== 'UP'"
       (click)="vote(true)"
       class="fas fa-thumbs-up text-muted"
       style="cursor: pointer;"></i>

    <i *ngIf="rating?.vote === 'UP'"
       (click)="vote(true)"
       class="fas fa-thumbs-up text-primary"
       style="cursor: pointer;"></i>

    <span>{{ rating?.up }}</span>

  </span>
