<div class="container">
  <div class="row">
    <span class="w-100 mb-2">
    <button
      [disabled]="!!canSolveInterview"
      [title]="!!canSolveInterview ? 'Необходимо авторизоваться' : ''"
      (click)="loadStories()"
      class="pull-right btn btn-light btn-sm">
      История ответов</button>
            <span class="pull-right btn btn-info btn-sm mr-2">
              Было решено: {{ totalAnswers }}
            </span>
          </span>
  </div>

  <div class="row">
    <div class="card w-100">
      <div class="card-header">
        <div class="font-weight-bold">{{ question?.title }}</div>
      </div>
      <div class="card-body">
        <p class="card-text" style="word-wrap: break-word;
        white-space: pre-wrap;" [innerHTML]="question?.description"></p>
      </div>
    </div>
  </div>

  <div class="row">
     <span class="w-50">
               <button [disabled]="!!canSolveInterview"
                       [title]="!!canSolveInterview ? 'Необходимо авторизоваться' : ''"
                       (click)="showAddCommentForm(true)"
                       class="pull-left btn btn-success btn-sm mt-2">
                Решить</button>
          </span>
    <span class="w-50">
               <button [disabled]="!!canSolveInterview"
                       [title]="!!canSolveInterview ? 'Необходимо авторизоваться' : ''"
                       (click)="showAnswer(true)"
                       class="pull-right btn btn-light btn-sm mt-2 ml-2">
                Посмотреть ответ</button>
          </span>
  </div>

  <div class="row" *ngIf="addFormComment">
    <app-discussion
      title="Введите ответ"
      (closeEmitter)="saveAnswer($event)"
    ></app-discussion>
  </div>

  <div class="row pt-2" *ngIf="showStories">
    <div class="card w-100">
      <div class="card-header">
        <span class="font-weight-bold">История ответов</span>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <tr *ngFor="let story of stories" class="align-middle">
            <td>
              <div class="d-flex justify-content-between small">
                <span class="">Оценка: {{ story.estimate }}</span>
                <span class="text-muted">{{ story.createdAt | date: 'dd.MM.yyyy HH:mm' }}</span>
              </div>
              <div class="mt-2" [innerHTML]="story.text | safeCode"></div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="row pt-2" *ngIf="showEstimate">
    <div class="card w-100">
      <div class="card-header">
        <span class="font-weight-bold" *ngIf="loadingAi">Анализ AI</span>
        <div *ngIf="loadingAi">
          <i class="fa fa-spinner spinner-icon mr-1"
             title="Обрабатывается ..."
             aria-hidden="true"></i>Обрабатывается...
        </div>
        <span *ngIf="!loadingAi" class="font-weight-bold">Ваш балл: {{ answer?.estimate }}%</span>
      </div>
      <div class="card-body">
        Ваш ответ:
        <p *ngIf="!loadingAi" [innerHTML]="answer?.text | safeCode"></p>
        Объяснение:
        <p *ngIf="!loadingAi" [innerHTML]="question?.explanation | safeCode"></p>
      </div>
    </div>
  </div>
</div>


