<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <img src="assets/img/about.png" class="img-fluid" alt="Фото" />
    </div>
    <div class="col-md-9">
      <h1>О проекте Job4j</h1>
      <p>Job4j — образовательная платформа, созданная для того, чтобы помочь людям освоить современные технологии программирования:
        <span class="badge bg-light text-dark">Java</span>,
        <span class="badge bg-light text-dark">GoLang</span>,
        <span class="badge bg-light text-dark">Kotlin</span>,
        <span class="badge bg-light text-dark">SQL</span>,
        <span class="badge bg-light text-dark">Шаблоны проектирования</span>,
        <span class="badge bg-light text-dark">Микросервисы</span>,
        <span class="badge bg-light text-dark">Kafka</span>,
        <span class="badge bg-light text-dark">Redis</span>,
        <span class="badge bg-light text-dark">Docker</span>,
        <span class="badge bg-light text-dark">Kubernetes</span>,
        <span class="badge bg-light text-dark">Prometheus</span>,
        <span class="badge bg-light text-dark">Grafana</span>.
      </p>
      <p>
        Проект был создан в 2015 году. За это время мы подготовили и помогли найти работу более 2500 выпускников.
      </p>
      <p>
        Изначально я понимал, что программирование можно освоить только через прикладные задачи.
        Поэтому весь процесс обучения основан на создании проектов.
        Каждый урок проверяю я и мои помощники (Стас Коробейников, Алексей Есипов и Андрей Хинку).
        Такой подход дает нам возможность оперативно корректировать успеваемость учеников.
        Отдельно мы проверяем теорию, поскольку это необходимо для успешного прохождения собеседований.
      </p>
    </div>
  </div>

  <hr>

  <!-- Информация о вас -->
  <div class="row">
    <div class="col-md-12">
      <h2>Обо мне</h2>
      <p>Меня зовут Петр Арсентив, я — разработчик с опытом работы в Java, Kotlin и других современных технологиях.
        Мою карьеру я начал в 2009 году, и за это время я всегда старался помогать коллегам и друзьям, рассказывая им,
        как здорово быть программистом. В 2015 году я решил, что стоит создать платформу, на которой соберу свои знания в единую форму.
        Так и появился проект Job4j. У меня трое детей, поэтому процесс обучения — не только часть моей профессиональной жизни, но и часть моей семейной жизни.
      </p>
      <p>В жизни есть много больших вопросов, и один из них — вопрос о своем предназначении. Мне посчастливилось понять,
        что мое предназначение — быть учителем. Несмотря на то, что по профессии я инженер и мне нравится решать технические задачи,
        большее удовлетворение я получаю от объяснения решений, чтобы другие могли решать подобные задачи.</p>
    </div>
  </div>
</div>
