<div>
  <form [formGroup]="form">
    <div class="form-group">
      <label for="exampleInputEmail1">{{ 'Тема собеседования' }}</label>
      <input formControlName="title"
             type="email" class="form-control" id="exampleInputEmail1"
             aria-describedby="emailHelp" placeholder="Введите тему собеседования">
      <small id="emailHelp" class="form-text text-muted">Например, отвечу на вопросы по базовому синтаксису.</small>
    </div>
    <div class="form-group">
      <label for="date">{{ 'Удобное время для собеседования' }}</label>
      <input formControlName="date"
             type="email" class="form-control" id="date"
             aria-describedby="emailHelp" placeholder="Введите удобное время для собеседования">
      <small id="emailHelp" class="form-text text-muted"> Например, Могу в любой день после 18:00 по Москве.</small>
    </div>

    <div class="form-group">
      <label for="contact">{{ 'Связаться со мной по telegram' }}</label>
      <input formControlName="contactBy"
             type="email" class="form-control" id="contact"
             aria-describedby="emailHelp" placeholder="Способ связи">
    </div>

    <div class="form-check">
      <input type="radio" formControlName="type" value="CONDUCT" class="form-check-input"
             name="type" id="takeInterview">
      <label class="form-check-label" for="takeInterview">
        Буду проводить собеседование (задавать вопросы)
      </label>
    </div>
    <div class="form-check mb-3">
      <input type="radio" class="form-check-input" formControlName="type" value="PASS"
             name="type" id="passInterview">
      <label class="form-check-label" for="passInterview">
        Буду походить собеседование (отвечать на вопросы)
      </label>
    </div>
    <div class="form-group">
      <app-redactor [text]="form?.get('description').value"
                    [titleLabel]="'Описание / Список вопросов'"
                    (outputEmitter)="setDescription($event)">
      </app-redactor>
    </div>
    <button (click)="save()" [disabled]="form.invalid" type="button" class="btn btn-primary">Сохранить</button>
  </form>

</div>
