<div class="container-fluid pb-4">
  <div class="row pb-2 w-100">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Уведомления
          <button class="btn btn-info pull-right" (click)="deleteMessage()">Удалить все</button>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let message of messages">
        <td style="cursor: pointer;">
          <span>
            <span><em class="fas fa-tasks pr-3"></em>{{ message.time | getDate }}
              <a [routerLink]="message.solutionId
            ? ['/exercise', message.topicId, 'task', message.taskId, message.solutionId]
             : ['/exercise', message.topicId, 'task-view', message.taskId]">
                {{ message.text }}
              </a>
              <span class="pull-right mr-5"><em (click)="deleteMessage(message.id)" class="fas fa-remove"></em></span>
              <div class="small" [innerHTML]="message.msg"></div>
            </span>
          </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
