<div class="row">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Уведомления</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let message of messages">
      <td (click)="openTask({id : message.taskId})" style="cursor: pointer;">
        <div>
          <span><i class="fas fa-tasks pr-3"></i>
          {{ message.time | getDate }} {{ message.text }}
          </span>
          <span class="pull-right"><i class="fas fa-remove"></i></span>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
