<div class="container">
  <div class="row pt-3">
    <div class="col">
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          Как получить доступ?
        </div>
        <div class="card-body">
          <p class="card-text">
            В проекте Job4j мы активно используем телеграм.<br/><br/>
            Чтобы начать обучение, добавьте бота @job4j_notification_bot<br/>
            Отправьте боту сообщение:<br/><br/>
            <b>new email</b><br/><br/>
            где email - это ваш email адрес.<br/>
            Например, new ivan.ivanov@gmail.com<br/>
            Бот пришлет логин и пароль для входа в систему.<br/><br/>
            Успешной учебы, Команда Job4j.<br/>
          </p>
          <a href="https://telegram.me/job4j_notification_bot" target="_blank"
             class="btn btn-primary text-center">Открыть телеграм бота</a>
        </div>
        <div class="col-sm">
        </div>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
</div>
