<div class="row mt-lg-5" style="word-break: break-all;">
  <div class="w-100 card">
    <div class="card-header">
      <div class="font-weight-bold">Обсуждения</div>
      <div>
        <small class="mb-2 text-muted">{{ company ? 'Эти комментарии доступны всем. Поделитесь своим мнением о компании'
          : 'Эти комментарии доступны всем ученикам. Поделитесь своим мнением о задаче,\n' +
          '          полезными ссылками, рекомендациями по решению. Не скидывайте решения целиком!'}}
        </small>
      </div>
      <div *ngIf="inTask" class="text-center">
        <button (click)="show()" class="mt-2 m btn btn-info btn-sm">
          <i class="fa fa-download mr-2" aria-hidden="true"></i>
          Загрузить обсуждения: {{discussions.length}}
        </button>
      </div>
    </div>
    <div *ngIf="needToShow" class="card-body">
      <table class="table" *ngIf="discussions">
        <tbody>
        <tr app-discussion-element
            [user]="user"
            [discussion]="discussion"
            (deleteEmitter)="deleteDiscussion($event)"
            (updateEmitter)="update($event)"
            *ngFor="let discussion of discussions">
        </tr>
        </tbody>
      </table>
      <div *ngIf="!!user && user?.login !== 'anonymous'" class="row pt-2">
     <span class="mt-3 w-50">
          <button class="m btn btn-info btn-sm"
                  (click)="showDiscussionForm()">{{'Обсудить'}}</button>
      </span>
      </div>
      <div class="row" *ngIf="showDiscussion">
        <app-discussion
          (closeEmitter)="closeDiscussion($event)"
        ></app-discussion>
      </div>
    </div>
  </div>
</div>

