<div class="container-fluid">
  <div class="row">
<!--    <span class="w-50 pull-right">-->
<!--      <button type="button" class="ml-2 m btn btn-light btn-sm pull-right"-->
<!--              (click)="goBackToList()"><i class="fas fa-angle-up pr-1"></i>Вверх</button>-->
<!--      <button *ngIf="task.nextId !== -1" type="button" class="ml-2 m btn btn-light btn-sm pull-right"-->
<!--              (click)="goBackToList(task.nextId)">Следующая<i class="fas fa-angle-right pl-1"></i></button>-->
<!--      <button *ngIf="task.previousId !== -1" type="button" class="ml-2 m btn btn-light btn-sm pull-right"-->
<!--              (click)="goBackToList(task.previousId)"><i class="fas fa-angle-left pr-1"></i>Предыдущая</button>-->
<!--    </span>-->
  </div>
  <div class="row">
    <div class="w-100 card">
      <div class="card-header">
        <div class="grid">
          <div class="row">
            <div class="col-sm-10">
              <div class="font-weight-bold">{{ discuss.name }}</div>
              <div>
                <small class="mb-2 text-muted">
                  <span  class="mr-3">Автор : {{discuss.submitter.name }}</span>
                  <span class="mr-3">Дата создания : {{ discuss.created | date: 'dd.MM.yyyy HH:mm' }}</span>
                  <span>Обновлена : {{  discuss.updated | date: 'dd.MM.yyyy HH:mm' }}</span>
                  <span class="pull-right">
                    <button (click)="subscribe()" class="btn"
                            [ngClass]="{'btn-danger' : discuss.subscribed, 'btn-info' : !discuss.subscribed  }">
                      {{discuss.subscribed ? 'Отписаться' : 'Подписаться'}}</button></span>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body pre-scrollable">
        <p class="card-text" [innerHTML]="discuss.description | safeCode"></p>
      </div>
    </div>
  </div>
  <app-discussion-block [discussions]="discussions"
                        [user]="user"
                        (closeEmitter)="closeDiscussion($event)"
  ></app-discussion-block>
</div>

