<div class="container-fluid">
  <div class="row">
        <span class="w-100 pull-right mb-1">
          <button type="button" class="ml-2 m btn btn-light btn-sm pull-right"
                  (click)="goBackToList()"><i class="fas fa-angle-up pr-1"></i>Вверх</button>
          <button *ngIf="discuss.nextId !== -1" type="button" class="ml-2 m btn btn-light btn-sm pull-right"
                  (click)="goBackToList(discuss.nextId)">Следующая<i class="fas fa-angle-right pl-1"></i></button>
          <button *ngIf="discuss.previousId !== -1" type="button" class="ml-2 m btn btn-light btn-sm pull-right"
                  (click)="goBackToList(discuss.previousId)"><i class="fas fa-angle-left pr-1"></i>Предыдущая</button>
        </span>
  </div>
  <div class="row">
    <div class="w-100 card">
      <div class="card-header">
        <div class="grid">
          <div class="row">
            <div class="col-sm-12">
              <div>
                <span class="font-weight-bold w-50">
                  <a
                    *ngIf="discuss.taskId"> {{ 'Урок / ' + discuss.topic.level.name + ' / ' + discuss.topic.category.name + ' / '}}</a>
                  <a
                    *ngIf="discuss.exerciseId"> {{ 'Упражнение / '  }}</a>
                  <a *ngIf="discuss.sqlExerciseId"> {{  'Упражнение SQL / ' }}</a>
                  <a *ngIf="discuss.taskId"
                     [routerLink]="'/exercise/' + discuss.topic.id  + '/' + 'task-view/' + discuss.taskId">{{discuss.name}}</a>
                  <a *ngIf="discuss.exerciseId"
                     [routerLink]="'/topics/' +  discuss.topic.id + '/' + 'task_code/' + discuss.exerciseId + '/new_task'">{{discuss.name}}</a>
                  <a *ngIf="discuss.sqlExerciseId"
                     [routerLink]="'/sqlExercise/' + discuss.topic.id + '/show/' + discuss.sqlExerciseId">{{discuss.name}}</a>
                  <a *ngIf="!discuss.taskId && !discuss.exerciseId && !discuss.sqlExerciseId">{{ discuss.name }}</a>
                </span>
                <span class="w-50">
                  <app-book-mark-star [name]="discuss.name"></app-book-mark-star>
                  <i *ngIf="!discuss.subscribed" style="cursor: pointer;"
                     (click)="subscribe()" title="Подписаться"
                     class="fa fa-bell-o mr-2 pull-right" aria-hidden="true"></i>
                  <i *ngIf="discuss.subscribed" style="cursor: pointer;"
                     (click)="subscribe()" title="Отписаться"
                     class="fa fa-bell-slash-o mr-2 pull-right" aria-hidden="true"></i>
                </span>
              </div>
              <div>
                <small class="mb-2 text-muted">
                  <span class="mr-3">Автор : {{discuss.submitter.name }}</span>
                  <span class="mr-3">Дата создания : {{ discuss.created | date: 'dd.MM.yyyy HH:mm' }}</span>
                  <span>Обновлена : {{  discuss.updated | date: 'dd.MM.yyyy HH:mm' }}</span>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body pre-scrollable">
        <p class="card-text" [innerHTML]="discuss.description | safeCode"></p>
        <p *ngIf="discuss.taskCode">
          <ngx-codemirror [(ngModel)]="discuss.taskCode"
                          [options]="options"
          ></ngx-codemirror>
        </p>
        <div *ngIf="!!discuss.sqlExerciseId">
          <div class="font-weight-bold">Схема базы данных:</div>
          <ngx-codemirror [(ngModel)]="discuss.scheme"
                          [options]="optionsOutput"
          ></ngx-codemirror>
          <div class="font-weight-bold">Данные:</div>
          <ngx-codemirror [(ngModel)]="discuss.initScript"
                          [options]="optionsOutput"
          ></ngx-codemirror>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-1" >
     <span class="w-50 pull-left">
         <button *ngIf="canCreateDiscuss" (click)="showDiscussionForm()" class="m btn btn-info btn-sm">
            {{'Обсудить'}}
          </button>
        </span>
        <span class="w-50 pull-right">
          <button type="button" class="ml-2 m btn btn-light btn-sm pull-right"
                  (click)="goBackToList()"><i class="fas fa-angle-up pr-1"></i>Вверх</button>
          <button *ngIf="discuss.nextId !== -1" type="button" class="ml-2 m btn btn-light btn-sm pull-right"
                  (click)="goBackToList(discuss.nextId)">Следующая<i class="fas fa-angle-right pl-1"></i></button>
          <button *ngIf="discuss.previousId !== -1" type="button" class="ml-2 m btn btn-light btn-sm pull-right"
                  (click)="goBackToList(discuss.previousId)"><i class="fas fa-angle-left pr-1"></i>Предыдущая</button>
        </span>
  </div>
  <app-discussion-block [discussions]="discussions"
                        [user]="user"
                        (addResponse)="addNewResponse($event)"
                        (updateEmitter)="updateDiscussion($event)"
                        (deleteEmitter)="deleteDiscussion($event)"
                        (closeEmitter)="closeDiscussion($event)"
  ></app-discussion-block>
  <div class="row">
        <span class="w-100 pull-right mb-1">
                    <button *ngIf="canCreateDiscuss" class="m btn btn-info btn-sm"
                            (click)="showDiscussionForm()">{{'Обсудить'}}</button>
          <button type="button" class="ml-2 m btn btn-light btn-sm pull-right"
                  (click)="goBackToList()"><i class="fas fa-angle-up pr-1"></i>Вверх</button>
          <button *ngIf="discuss.nextId !== -1" type="button" class="ml-2 m btn btn-light btn-sm pull-right"
                  (click)="goBackToList(discuss.nextId)">Следующая<i class="fas fa-angle-right pl-1"></i></button>
          <button *ngIf="discuss.previousId !== -1" type="button" class="ml-2 m btn btn-light btn-sm pull-right"
                  (click)="goBackToList(discuss.previousId)"><i class="fas fa-angle-left pr-1"></i>Предыдущая</button>
        </span>
  </div>
</div>

