<div class="container-fluid">
  <div class="row">
    <div class="w-100 pull-right mb-2">
      <button type="button" class="m btn btn-light btn-sm pull-right" *ngIf="!!previousAndNext.next"
              (click)="goTo(previousAndNext.next)">Следующая<i class="fas fa-angle-right pl-1"></i></button>
      <button type="button" class="m btn btn-light pull-right btn-sm mr-2"  *ngIf="!!previousAndNext.previous"
              (click)="goTo(previousAndNext.previous)"><i class="fas fa-angle-left pr-1"></i>Предыдущая</button>
    </div>
  </div>
  <div class="row">
    <div class="w-100 card">
      <div class="card-header">
        <div class="font-weight-bold">{{ taskModel.name }}
        </div>
        <div>
        </div>
      </div>
      <div class="card-body">
        <div class="card-text" [innerHTML]="taskModel.description | safeCode"></div>
        <app-alert-message></app-alert-message>
        <div class="font-weight-bold">Каркас: {{taskModel.className}}
        </div>
        <div>
          <ngx-codemirror
            [(ngModel)]="taskClass"
            [options]="options"
          ></ngx-codemirror>
        </div>
        <div>
          <button *ngIf="status === 1" (click)="submit(taskClass)" [disabled]="dis" class="btn btn-success btn-sm mt-2"><i class="fa fa-caret-right mr-2"></i>
            <span *ngIf="dis" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Решить</button>
          <button *ngIf="status === 2" (click)="submit(taskClass)" [disabled]="dis" class="btn btn-warning btn-sm mt-2"><i class="fa fa-caret-right mr-2"></i>
            <span *ngIf="dis" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Проверить</button>
          <button *ngIf="status === 3" (click)="submit(taskClass)" [disabled]="dis" class="btn btn-warning btn-sm mt-2"><i class="fa fa-caret-right mr-2"></i>
            <span *ngIf="dis" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Проверить</button>
          <button *ngIf="status === 4" (click)="submit(taskClass)" [disabled]="dis" class="btn btn-warning btn-sm mt-2"><i class="fa fa-caret-right mr-2"></i>
            <span *ngIf="dis" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Проверить</button>
        </div>
        <div class="mt-3 font-weight-bold">Результат:</div>
        <div>
          <ngx-codemirror
            [(ngModel)]="text"
            [options]="optionsOutput"
          ></ngx-codemirror>
        </div>
        <div class="mt-3 font-weight-bold">Тесты: {{taskModel.testName}}</div>
        <div>
          <ngx-codemirror
            [(ngModel)]="taskTest"
            [options]="optionsTest"
          ></ngx-codemirror>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="w-100 pull-right mt-3">
      <button type="button" class="m btn btn-light btn-sm pull-right" *ngIf="!!previousAndNext.next"
              (click)="goTo(previousAndNext.next)">Следующая<i class="fas fa-angle-right pl-1"></i></button>
      <button type="button" class="m btn btn-light btn-sm pull-right mr-2"  *ngIf="!!previousAndNext.previous"
              (click)="goTo(previousAndNext.previous)"><i class="fas fa-angle-left pr-1"></i>Предыдущая</button>
    </div>
  </div>
</div>
