<div class="container-fluid">
  <div class="row">
    <table class="table">
      <caption></caption>
      <thead>
      <tr>
        <th scope="col">№</th>
        <th scope="col">Имя</th>
        <th scope="col">Рейтинг</th>
        <th scope="col">Дата регистрации</th>
      </tr>
      </thead>
      <tbody infinite-scroll
             class="noscroll"
             [infiniteScrollDisabled]="!paginationAllowed"
             [infiniteScrollDistance]="scrollDistance"
             [infiniteScrollThrottle]="throttle"
             (scrolled)="onScrollDown()">
      <ng-container *ngFor="let r of ratings; let idx=index">
        <tr  [ngStyle]="{backgroundColor: user?.id == r.userId ? ' #57CFBA' : 'white'}">
          <td>{{idx + 1}}</td>
          <td style="cursor: pointer;">
            <span class="font-weight-bold">{{r.name}}</span>
          </td>
          <td>
            {{ r.score }}
          </td>
          <td>{{ r.register | date: 'dd MMM yyyy' }}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
