<div class="container-fluid">
  <div class="row">
    <div class="form-row">
      <div class="form-group">
        <a routerLink="/discuss/create" class="btn btn-sm btn-info"
           type="button">
          Создать Обсуждение
        </a>
        <button (click)="addFilter()" class="btn btn-sm btn-info ml-5">{{showOnlySub ? 'Все обсуждения' : 'Мои подписки' }}</button>
      </div>
    </div>
  </div>
  <div class="row">
    <!--        <div class="form-group row">-->
    <!--          <label for="inputState" class="col-sm-1 col-form-label ml-1">Фильтр</label>-->
    <!--          <div class="col-sm-3">-->
    <!--            <select id="inputState" [(ngModel)]="selectedFilter" (change)="setFilter()" class="form-control">-->
    <!--              <option *ngFor="let f of filters" [ngValue]="f">{{ f.name }}</option>-->
    <!--            </select>-->
    <!--          </div>-->
    <!--          <button (click)="resetFilters()" class="btn btn-sm btn-light mb-2 ml-1 mr-2">Сбросить Фильтр</button>-->
    <!--        </div>-->
    <table class="table">
      <caption></caption>
      <thead>
      <tr>
        <th scope="col">Тема обсуждения</th>
        <th scope="col">Дата создания</th>
        <th scope="col">Дата обновления</th>
        <th scope="col">Подписка</th>
      </tr>
      </thead>
      <tbody infinite-scroll
             class="noscroll"
             [infiniteScrollDisabled]="!paginationAllowed"
             [infiniteScrollDistance]="scrollDistance"
             [infiniteScrollThrottle]="throttle"
             (scrolled)="onScrollDown()">
      <ng-container *ngFor="let discuss of discussList; let idx=index">
        <tr>
          <td  (click)="goTo(discuss)" style="cursor: pointer;">
            <div>
              <i class="fas fa-tasks pr-3"></i>
              <span class="font-weight-bold">{{discuss.name}}</span>
            </div>
            <small class="mb-2 text-muted">
            <span>
              <span class="mr-3">Автор : {{ discuss.submitter.name }}</span>
            </span>
            </small>
          </td>
          <td  (click)="goTo(discuss)">
            {{ discuss.created | date: 'dd.MM.yyyy HH:mm' }}
          </td>
          <td  (click)="goTo(discuss)">
            {{ discuss.updated | date: 'dd.MM.yyyy HH:mm' }}
          </td>
          <td>
            <button (click)="subscribe(discuss, idx)" class="btn"
                    [ngClass]="{'btn-danger' : discuss.subscribed, 'btn-info' : !discuss.subscribed  }">
              {{discuss.subscribed ? 'Отписаться' : 'Подписаться'}}</button>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
