<div class="container-fluid">
  <div class="row pb-lg-3">
      <span class="w-50">
        <a routerLink="/discuss/create" class="btn btn-sm btn-info"
           type="button">
          Создать обсуждение
        </a>
      </span>
    <span class="w-50">
        <button (click)="addFilter()" class="btn btn-sm btn-light pull-right">
           <i class="fa fa-filter mr-2" aria-hidden="true"></i>
          {{showOnlySub ? 'Все обсуждения' : 'Мои подписки' }}
        </button>
      </span>
  </div>
  <div class="row">
    <!--        <div class="form-group row">-->
    <!--          <label for="inputState" class="col-sm-1 col-form-label ml-1">Фильтр</label>-->
    <!--          <div class="col-sm-3">-->
    <!--            <select id="inputState" [(ngModel)]="selectedFilter" (change)="setFilter()" class="form-control">-->
    <!--              <option *ngFor="let f of filters" [ngValue]="f">{{ f.name }}</option>-->
    <!--            </select>-->
    <!--          </div>-->
    <!--          <button (click)="resetFilters()" class="btn btn-sm btn-light mb-2 ml-1 mr-2">Сбросить Фильтр</button>-->
    <!--        </div>-->
    <table class="table">
      <caption></caption>
      <thead>
      <tr>
        <th scope="col">Тема обсуждения</th>
        <th scope="col">Подписка</th>
      </tr>
      </thead>
      <tbody infinite-scroll
             class="noscroll"
             [infiniteScrollDisabled]="!paginationAllowed"
             [infiniteScrollDistance]="scrollDistance"
             [infiniteScrollThrottle]="throttle"
             (scrolled)="onScrollDown()">
      <ng-container *ngFor="let discuss of discussList; let idx=index">
        <tr>
          <td style="cursor: pointer;">
            <div *ngIf="discuss.topicName" class="row">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb2 bg-white">
                  <li class="breadcrumb2-item small ref-link">
                    <a (click)="goToMain()">{{ 'Job4j' }}</a>
                  </li>
                  <li class="breadcrumb2-item small ref-link">
                    <a (click)="goByNav(discuss)">{{ discuss.topicName }}</a>
                  </li>
                  <li class="breadcrumb2-item small"
                      [ngClass]="{'ref-link': false}">
                    <a>{{ discuss.name }}</a>
                  </li>
                </ol>
              </nav>
            </div>
            <div (click)="goTo(discuss)">
              <div>
                <i class="fas fa-tasks pr-3"></i>
                <span class="font-weight-bold">{{discuss.name}}</span>
              </div>
              <small class="mb-2 text-muted">
            <span>
              <span class="mr-3">Автор : {{ discuss.submitter.name }}</span>
              <span class="mr-3">Создано : {{ discuss.created | date: 'dd.MM.yyyy HH:mm' }}</span>
              <span class="mr-3">Обновлено : {{ discuss.updated | date: 'dd.MM.yyyy HH:mm' }}</span>
            </span>
              </small>
            </div>
          </td>
          <td>
            <i *ngIf="!discuss.subscribed"
               style="cursor: pointer;"
               (click)="subscribe(discuss, idx)" title="Подписаться"
               class="fa fa-bell-o mr-2" aria-hidden="true"></i>
            <i *ngIf="discuss.subscribed" style="cursor: pointer;"
               (click)="subscribe(discuss, idx)" title="Отписаться"
               class="fa fa-bell-slash-o mr-2" aria-hidden="true"></i>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
