#sidebar-wrapper {
  min-height: 100vh;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: auto;
}

.fa_icons {
  right: 0;
  position: absolute;
  margin-right: 10px;
}

.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  //position: sticky;
  //min-width: 250px;
  //max-width: 300px;
  top: 0;
  left: 0;
  height: 100vh;
  //z-index: 9999;
  overflow: scroll;
  margin-left: 0;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

#sidebar::-webkit-scrollbar {
  display: none;
}

.toggle {
  display: none;
}

.point {
  cursor: pointer;
}

#page-content-wrapper {
  width: 100%;
}

//hide sidebar for mobile screens

.ccolor{
  background: #7f7f82 !important;
}
.mwigth{
  min-width: 420px;
}

.dropdown-menu2{
  position:absolute;
  top:100%;left:0;
  z-index:1000;
  //display:none;
  float:left;
  min-width:20rem;
  padding:.5rem 0;
  margin:.125rem 0 0;font-size:1rem;
  color:#212529;text-align:left;
  list-style:none;background-color:#fff;
  background-clip:padding-box;
  border:1px solid rgba(0,0,0,.15);
  border-radius:.25rem}









aside.sidebar-left#resizable {
  position: relative;
  height: 100vh;
  min-width: 200px;
}

@media (min-width: 768px) {
  .wrapper .sidebar-left {
    top: 0;
  }
}

@media (min-width: 1200px) {
  aside.sidebar-left {
    min-width: 200px;
  }
}

aside.sidebar-left {
  position: relative;
  //width: 175px;
  top: 0;
  float: left;
  box-shadow: -5px 0 0 #f7f7f7 inset;
  z-index: 1000;
}

aside.sidebar-left .draghandle {
  position: absolute;
  z-index: 100;
  width: 10px;
  top: 0;
  right: -3px;
  cursor: col-resize;
  float: right;
}


@media (max-width: 550px) {
  aside.sidebar-left#resizable {
    display: none;
  }
  .toggle {
    display: block !important;
  }
}
.hide {
  display: none !important;
}

.demo {
  display: inline-block !important;
  float: left;
  //padding-top: 4px;
  width: 90% !important;
}
