<div class="d-flex" id="wrapper" [ngClass]="{'toggled': toggled}">
  <div *ngIf="navShow" class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush small">
      <div class="list-group-item list-group-item-action bg-info text-white">Навигация</div>
      <div class="ml-3 pb-2">
        <tree-root [nodes]="nodes"
                   [options]="options">
        </tree-root>
      </div>
    </div>
    <div class="list-group list-group-flush small">
      <div class="list-group-item list-group-item-action bg-info text-white">Закладки</div>
      <ul class="list-unstyled">
        <li>
          <a [routerLink]="['/']" class="list-group-item list-group-item-action bg-light">
            <i class="fas fa-info mr-2"></i>Процесс обучения
          </a>
        </li>
        <li>
          <a [routerLink]="['/task']" [queryParams]="{taskId: 'ae84b50d554cbf1d01558646352721c5', action: 'task'}"
             class="list-group-item list-group-item-action bg-light">
            <i class="fas fa-info mr-2"></i>Реквизиты
          </a>
        </li>
        <li>
          <a [routerLink]="['/tasks']" [queryParams]="{taskId: 'ae84b50d571fe2340157387103bd1a68', action: 'tasks'}"
             class="list-group-item list-group-item-action bg-light">
            <i class="fas fa-info mr-2"></i>Критика и предложения
          </a>
        </li>
      </ul>
      <a (click)="showProven()" class="list-group-item list-group-item-action bg-info text-white">Проверенные задачи</a>
      <ng-container *ngIf="!!proven && !!provenTasks.length">
        <ul class="list-unstyled">
          <li *ngFor="let task of provenTasks">
            <a  [routerLink]="['/task']" [queryParams]="{taskId: task.task.id, action: 'task'}"
                class="list-group-item list-group-item-action bg-light">
              <i class="fas fa-tasks mr-2 bg-warning"></i>{{ task.task.name}} [{{task.task.number}}]</a>
          </li>
        </ul>
      </ng-container>
      <a (click)="showNew()" class="list-group-item list-group-item-action bg-info text-white">Новые задачи</a>
      <ng-container *ngIf="newTask && !!newTasks.length">
        <ul class="list-unstyled">
          <li *ngFor="let task of newTasks">
            <a  [routerLink]="['/task']" [queryParams]="{taskId: task.task.id, action: 'task'}"
                class="list-group-item list-group-item-action bg-light">
              <i class="fas fa-tasks mr-2 bg-danger"></i>{{ task.task.name }}</a>
          </li>
        </ul>
      </ng-container>
    </div>
  </div>
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <i *ngIf="navShow" class="fa fa-bars mr-2" style="font-size:23px" aria-hidden="true" id="menu-toggle" (click)="onToggle()"></i>
      <a class="navbar-brand" [routerLink]="['/']">Job4j</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
        </ul>
        <span class="navbar-text">
            <a [routerLink]="['/']"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
          </span>
        <span *ngIf="notifications && count > 0" style="cursor: pointer;"
              (click)="readMessages()"
              class="ml-3 badge badge-primary badge-pill">{{count}}</span>
        <a class="nav-item nav-link float-right" [routerLink]="['/profile']">{{ user?.name || 'Гость' }}</a>
        <a class="nav-item nav-link float-right" (click)="clearStorage()" [routerLink]="['/login']">Выйти</a>
      </div>
    </nav>
    <div class="container-fluid">
      <app-navigation
        (emitter)="emmit($event)"
        *ngIf="navShow"></app-navigation>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-footer></app-footer>
