<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div *ngIf="navShow" class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="dropdown" *ngIf="user">
      <a class="btn dropdown-toggle text-white" type="button" id="dropdownMenuButton"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ user.name }}
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" [routerLink]="['/']">Статистика</a>
        <a class="dropdown-item" [routerLink]="['/profile']">Настройки</a>
        <a class="dropdown-item" [routerLink]="['/payment']">Оплата</a>
        <a class="dropdown-item" [routerLink]="['/interviews']">Собеседования</a>
        <a class="dropdown-item" [routerLink]="['/vacancies']">Вакансии</a>
        <a class="dropdown-item" [routerLink]="['/company']">Компании</a>
        <a href="https://github.com/peterarsentev/job4j_features_bugs/issues" target="_blank"
           class="dropdown-item">
          Критика и предложения
        </a>
        <a class="dropdown-item" [routerLink]="['/rating']">Скорость прохождения
          <span style="cursor: pointer;"
                class="ml-0"
          >{{ position }}</span></a>
        <a class="dropdown-item" [routerLink]="['/rating/likes']">Рейтинг</a>
        <a class="dropdown-item" [routerLink]="['/exams']">Экзамены</a>
        <a class="dropdown-item" [routerLink]="['/updates']">Обновления</a>
        <a class="dropdown-item" (click)="clearStorage()" [routerLink]="['/login']">Выйти</a>
      </div>
    </div>
    <span class="navbar-text font-weight-bold">
          <a [routerLink]="['/exercise']" style="text-decoration: none"
          >Уроки</a>
     <span *ngIf="notifications && count > 0"
           style="cursor: pointer;"
           (click)="readMessages()"
           class="badge badge-primary badge-pill text-white ml-1 mr-2"
     >{{ count }}</span>
        </span>

    <div class="dropdown">
      <button class="btn dropdown-toggle font-weight-bold text-white" type="button" id="solutionDd"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Решения
      </button>
      <div class="dropdown-menu dropdown-menu-left" aria-labelledby="solutionDd">
        <a class="dropdown-item" [routerLink]="['/tasksByStatus/revert']">Отклоненные</a>
        <a class="dropdown-item" [routerLink]="['/tasksByStatus/finished']">Выполненные</a>
        <a class="dropdown-item" [routerLink]="['/tasksByStatus/review']">На проверке</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn dropdown-toggle font-weight-bold text-white" type="button" id="discuss"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Обсуждения
      </button>
      <span class="navbar-text font-weight-bold">
                <span *ngIf="discussCount?.count > 0" (click)="goToListOfDiscuss()"
                      class="badge badge-primary badge-pill pos">{{ discussCount?.count }}</span>
    </span>
      <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-left" aria-labelledby="exercises">
        <li><a class="dropdown-item" [routerLink]="['/discuss/all']">Все обсуждения</a></li>
        <li><a class="dropdown-item" [routerLink]="['/discuss/my']">Мои подписки</a></li>
      </ul>
    </div>

    <div class="dropdown">
      <button class="btn dropdown-toggle font-weight-bold text-white" type="button" id="exercises"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Упражнения
      </button>
      <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-left" aria-labelledby="exercises">
        <li><a class="dropdown-item" [routerLink]="['/topics']">Java Core</a></li>
        <li><a class="dropdown-item" [routerLink]="['/sqlExercise']">SQL</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn dropdown-toggle font-weight-bold text-white" type="button" id="exercisesDd"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Закладки
      </button>
      <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-left" aria-labelledby="exercisesDd">
        <li *ngFor="let book of bookmarks">
          <!--        <div class="demo">-->
          <a (click)="goToBook(book)" class="dropdown-item point demo">{{ book.name }}</a>
          <button (click)="deleteBook($event, book)" type="button" class="close mr-2 mt-1" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <!--        </div>-->
        </li>
      </ul>
    </div>
  </div>
  <span class="input-group w-25 mwigth">
          <input
            type="text"
            #text
            (keydown.enter)="search(text.value)"
            class="form-control bg-dark text-white"
            placeholder="Поиск"
            aria-label="Поиск"
            aria-describedby="basic-addon2"/>
           <div *ngIf="searchResult" (click)="clearSearch()" class="dropdown-menu2">
             <div *ngIf="searchResult.tasks">
             <p class="dropdown-header">Задачи</p>
              <div role="separator" class="dropdown-divider"></div>
                <a *ngFor="let t of searchResult.tasks" class="dropdown-item"
                   routerLink="/discuss/{{t.id}}">{{t.name}}</a>
             <div role="separator" class="dropdown-divider"></div>
               </div>
             <div *ngIf="searchResult.exercises">
              <p class="dropdown-header">Упражнения</p>
              <div role="separator" class="dropdown-divider"></div>
                   <a *ngFor="let e of searchResult.exercises"
                      class="dropdown-item" routerLink="/discuss/{{e.id}}">{{e.name}}</a>
              <div role="separator" class="dropdown-divider"></div>
               </div>
             <div *ngIf="searchResult.discuss">
                   <p class="dropdown-header">Обсуждения</p>
                   <div role="separator" class="dropdown-divider"></div>
                   <a *ngFor="let d of searchResult.discuss"
                      class="dropdown-item" routerLink="/discuss/{{d.id}}">{{d.name}}</a>
             </div>
      </div>
          <span class="input-group-append">
            <button (click)="search(text.value)" class="btn btn-outline-light ccolor" type="button">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </span>
        </span>
</nav>
<app-admin-message *ngIf="message" [message]="message"></app-admin-message>
<div class="container">
  <app-navigation (getMessage)="getMessage()"
                  *ngIf="navShow"
  ></app-navigation>
  <router-outlet></router-outlet>
</div>
<div
  class="pr-lg-5 pb-lg-5"
  style="position: fixed; bottom: 0; right: 0; z-index: 1;"
>
  <div class="mb-1" style="cursor: pointer;" onclick="window.scrollTo(0, 0);">
    <i class="fa fa-arrow-circle-up fa-lg"></i>
  </div>
  <div *ngIf="iconComment" class="mb-2" style="cursor: pointer;">
    <i (click)="goToComments()" class="fa fa-comment fa-lg" aria-hidden="true"></i>
  </div>
  <div
    style="cursor: pointer;"
    onclick="window.scrollTo(0, document.body.scrollHeight);"
  >
    <i class="fa fa-arrow-circle-down fa-lg"></i>
  </div>
</div>
<app-footer></app-footer>
