#sidebar-wrapper {
  min-height: 100vh;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: auto;
}

.fa_icons {
  right: 0;
  position: absolute;
  margin-right: 10px;
}

.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  position: sticky;
  min-width: 250px;
  max-width: 300px;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 9999;
  overflow: scroll;
  margin-left: 0;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

#sidebar::-webkit-scrollbar {
  display: none;
}

.toggle {
  display: none;
}

.hide {
  display: none !important;
}

#page-content-wrapper {
  width: 100%;
}

//hide sidebar for mobile screens
@media (max-width: 550px) {
  #sidebar {
    display: none;
  }
  .toggle {
    display: block !important;
  }
}
