<ng-container *ngIf="user?.login !== 'anonymous'; else auth">
<div class="container-fluid">
  <div class="row pb-lg-3">
    <button type="button" (click)="gotoDetail()" class="btn btn-sm btn-info mr-2">Добавить вакансию</button>
    <button (click)="getVac(false, true)" class="btn btn-sm btn-info mr-2">Мои вакансии</button>
    <button (click)="getVac(true, false)"  class="btn btn-sm btn-info mr-2">Открытые вакансии</button>
    <button (click)="getVac(false, false)"  class="btn btn-sm btn-info">Все вакансии</button>
  </div>
  <div class="row">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">{{ 'Вакансия' }}</th>
        <th scope="col" ></th>
        <th scope="col" ></th>
      </tr>
      </thead>
      <tbody>
      <tr  *ngFor="let vacancy of vacancies; let idx = index">
        <td (click)="goToView(vacancy.id)" style="cursor: pointer;">
          <div>
            <span class="font-weight-bold">{{idx + 1 + ' '}} {{ vacancy.name }}</span>
          </div>
          <small class="mb-2 text-muted">
            <span>
              <span *ngIf="!vacancy.open" class="badge badge-danger mr-3">{{ 'Черновик' }}</span>
              <span *ngIf="vacancy.open" class="badge badge-success mr-3">{{ 'Опубликовано' }}</span>
              <span class="mr-3">Автор : {{ vacancy.authorName }}</span>
            </span>
            <span class="mr-3">Создана : {{ vacancy.created | date: 'HH:mm dd.MM.yyyy' }}</span>
            <span class="mr-3">Обновлена : {{ vacancy.updated | date: 'HH:mm dd.MM.yyyy' }}</span>
          </small>
        </td>
        <td>
        <button *ngIf="user.id == vacancy.authorId" (click)="gotoDetail(vacancy.id)"  class="btn btn-outline-primary">Редактировать</button>
        </td>
        <td>
        <button *ngIf="user.id == vacancy.authorId" (click)="delete(vacancy.id)"  class="btn btn-outline-danger">Удалить</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</ng-container>
<ng-template #auth>
  <h5>Вам необходимо авторизироваться для просмотра вакансий</h5>
</ng-template>
