@import "~summernote/dist/summernote-lite.min.css";

.note-toolbar, .note-editable, .note-dropdown-menu {
  color: white !important;
  background: #343a40 !important;
}
.note-dropdown-item{
  color: white !important;
}
