<div class="container-fluid">
  <div class="row">
    <div class="w-100 pull-right mb-2">

      <button type="button" class="m btn btn-light btn-sm pull-right" *ngIf="nextId !== null"
              (click)="goTo(nextId)">Следующая<i class="fas fa-angle-right pl-1"></i></button>
      <button type="button" class="m btn btn-light btn-sm pull-right mr-2"  *ngIf="prevId !== null"
              (click)="goTo(prevId)"><i class="fas fa-angle-left pr-1"></i>Предыдущая</button>

    </div>
  </div>
  <div class="row">
    <div class="w-100 card">
      <div class="card-header">
        <div class="font-weight-bold">{{ exercise.title }}
        </div>
        <div>
        </div>
      </div>
      <div class="card-body">
        <div class="card-text" [innerHTML]="exercise.description "></div>

        <div class="font-weight-bold">Схема базы данных:</div>
        <div *ngIf="load">
          <ngx-codemirror
            [(ngModel)]="exercise.scheme"
            [options]="optionsOutput"
          ></ngx-codemirror>
        </div>

        <div class="font-weight-bold">Данные:</div>
        <div *ngIf="load">
          <ngx-codemirror
            [(ngModel)]="exercise.initScript"
            [options]="optionsOutput"
          ></ngx-codemirror>
        </div>

        <div class="font-weight-bold">Ваш запрос:</div>
        <div *ngIf="load">
          <ngx-codemirror
            [(ngModel)]="solutionSql"
            [options]="solutionOptions"
          ></ngx-codemirror>
        </div>

        <div class="font-weight-bold">Результат:</div>
        <div *ngIf="solutionResult.message !== '' && solutionResult.equal" class="alert alert-success" role="alert">
          Поздравляем! Задача решена верно.
        </div>
        <div *ngIf="solutionResult.message !== '' && !solutionResult.equal" class="alert alert-danger" role="alert">
          Решение не верное.
        </div>
        <div *ngIf="load">
          <ngx-codemirror
            [(ngModel)]="solutionResult.message"
            [options]="optionsOutput"
          ></ngx-codemirror>
        </div>

        <div>

          <button *ngIf="load && exercise.status == 'NEW'" class="btn btn-success btn-sm mt-2" (click)="sendSolution()"
                  [disabled]="solutionSql.length == 0 || !checked">
            <i class="fa fa-caret-right mr-2"></i>
            <span *ngIf="!checked" class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>Решить
          </button>
          <button *ngIf="load && exercise.status != 'NEW'" class="btn btn-warning btn-sm mt-2 mr-2" (click)="sendSolution()"
                  [disabled]="solutionSql.length == 0 || !checked">
            <i class="fa fa-caret-right mr-2"></i>
            <span *ngIf="!checked" class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>Проверить
          </button>
          <button *ngIf="load && exercise.status != 'NEW'" class="btn btn-warning btn-sm mt-2" (click)="wipeSolution()"
                  [disabled]="solutionSql.length == 0 || !checked">
            <i class="fa fa-caret-right mr-2"></i>
            <span *ngIf="!checked" class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>Сбросить решение
          </button>

        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="w-100 pull-right mt-3">
      <button type="button" class="m btn btn-light btn-sm pull-right" *ngIf="nextId !== null"
              (click)="goTo(nextId)">Следующая<i class="fas fa-angle-right pl-1"></i></button>
      <button type="button" class="m btn btn-light btn-sm pull-right mr-2"  *ngIf="prevId !== null"
              (click)="goTo(prevId)"><i class="fas fa-angle-left pr-1"></i>Предыдущая</button>
    </div>
  </div>
  <app-discussion-block [discussions]="discussions"
                        [user]="user"
                        (updateEmitter)="updateDiscussion($event)"
                        (closeEmitter)="closeDiscussion($event)"
  ></app-discussion-block>
</div>
