<div class="container-fluid">
  <div class="row">
    <div class="w-100 pull-right mb-2">

      <button type="button" class="m btn btn-light btn-sm pull-right" *ngIf="nextId !== null"
              (click)="goTo(nextId)">Следующая<i class="fas fa-angle-right pl-1"></i></button>
      <button type="button" class="m btn btn-light btn-sm pull-right mr-2"  *ngIf="prevId !== null"
              (click)="goTo(prevId)"><i class="fas fa-angle-left pr-1"></i>Предыдущая</button>

      <button [disabled]="exercise.status !== 'COMPLETE'" class="btn btn-info btn-sm mr-2 pull-right"
              title="Решения других учеников станут доступны после выполнения упражнения">Было решено: {{ solvedSize.size }}</button>

    </div>
  </div>
  <div class="row">
    <div class="w-100 card">
      <div class="card-header">
        <div class="font-weight-bold">{{ exercise.title }}</div>
        <small class="mb-2 text-muted">
            <span>
              <span *ngIf="exercise.status === 'COMPLETE'" class="badge badge-success mr-3">Выполнено</span>
              <span *ngIf="exercise.status === 'NEW'" class="badge badge-danger mr-3">Новая</span>
              <span *ngIf="exercise.status === 'PROGRESS'" class="badge badge-warning mr-3">В процессе</span>
            </span>
        </small>
      </div>
      <div class="card-body">
        <div class="card-text" [innerHTML]="exercise.description "></div>

        <div class="font-weight-bold">Схема базы данных:</div>
        <div *ngIf="load">
          <ngx-codemirror
            [(ngModel)]="exercise.scheme"
            [options]="optionsOutput"
          ></ngx-codemirror>
        </div>

        <div class="font-weight-bold">Данные:</div>
        <div *ngIf="load">
          <ngx-codemirror
            [(ngModel)]="exercise.initScript"
            [options]="optionsOutput"
          ></ngx-codemirror>
        </div>

        <div class="font-weight-bold">Запрос:</div>
        <div *ngIf="load">
          <ngx-codemirror
            [(ngModel)]="solutionSql"
            [options]="solutionOptions"
          ></ngx-codemirror>
        </div>

        <div class="font-weight-bold">Результат:</div>
        <div *ngIf="solutionResult.message !== '' && solutionResult.equal" class="alert alert-success" role="alert">
          Поздравляем! Задача решена верно.
        </div>
        <div *ngIf="solutionResult.message !== '' && !solutionResult.equal" class="alert alert-danger" role="alert">
          Решение не верное.
        </div>
        <div *ngIf="load">
          <ngx-codemirror
            [(ngModel)]="solutionResult.message"
            [options]="optionsOutput"
          ></ngx-codemirror>
        </div>

        <div>
          <span class="w-50">
              <button *ngIf="load && exercise.status == 'NEW'"
                      class="btn btn-success btn-sm mt-2"
                      (click)="sendSolution()"
                      [disabled]="solutionSql.length == 0 || !checked">
                <i class="fa fa-caret-right mr-2"></i>
                <span *ngIf="!checked"
                      class="spinner-border spinner-border-sm mr-2" role="status"
                      aria-hidden="true"></span>Решить
              </button>
              <button *ngIf="load && exercise.status != 'NEW'" class="btn btn-success btn-sm mt-2 mr-2" (click)="sendSolution()"
                      [disabled]="solutionSql.length == 0 || !checked">
                <i *ngIf="checked" class="fa fa-caret-right mr-2"></i>
                <span *ngIf="!checked" class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>Проверить
              </button>
          </span>
          <span class="w-50">
              <button *ngIf="load && exercise.status != 'NEW'"
                      class="btn btn-light btn-sm mt-2"
                      (click)="wipeSolution()"
                      [disabled]="solutionSql.length == 0 || !checked">
                <i class="fa fa-refresh mr-2"></i>Сбросить решение
              </button>
          </span>
        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="w-100 pull-right mt-3">
      <button type="button" class="m btn btn-light btn-sm pull-right" *ngIf="nextId !== null"
              (click)="goTo(nextId)">Следующая<i class="fas fa-angle-right pl-1"></i></button>
      <button type="button" class="m btn btn-light btn-sm pull-right mr-2"  *ngIf="prevId !== null"
              (click)="goTo(prevId)"><i class="fas fa-angle-left pr-1"></i>Предыдущая</button>
    </div>
  </div>
  <app-discussion-block [discussions]="discussions"
                        [user]="user"
                        (addResponse)="addResponse($event)"
                        (updateEmitter)="updateDiscussion($event)"
                        (closeEmitter)="closeDiscussion($event)"
                        (showButton)="showButton()"
  ></app-discussion-block>
  <div *ngIf="showButtonBottom && canCreateDiscuss" class="row">
        <span  class="w-100 pull-right mb-1">
                    <button *ngIf="!!user && user?.login !== 'anonymous'" class="m btn btn-info btn-sm"
                            (click)="showDiscussionForm()">{{'Обсудить'}}</button>
        </span>
  </div>
</div>
