<div class="container-fluid pb-4">
  <div class="row pb-2" *ngIf="canUpdateYourSelf">
    <span class="w-50 pull-right">
      <button type="button" (click)="goToEditProfile()" class="m btn btn-info btn-sm mr-1">
        Редактировать
      </button>
     <button type="button" (click)="goToChangePassword()"  class="m btn btn-info btn-sm">
        Изменить пароль
      </button>
    </span>
  </div>
  <div class="row">
    <div class="w-100 card">
      <div class="card-body">
        <table class="table">
          <tr>
            <td>Имя</td>
            <td>{{user?.name}}</td>
          </tr>
          <tr>
            <td>Логин</td>
            <td>{{user?.login}}</td>
          </tr>
          <tr>
            <td>Почта</td>
            <td>{{user?.email}}</td>
          </tr>
          <tr *ngIf="canUpdateYourSelf">
            <td>Уведомления</td>
            <td>
                <label class="switch pull-left" >
                  <input type="checkbox" class="info" [checked]="showNotification" (change)="sendNotification()">
                  <span class="slider round"></span>
                </label>
                <!--<label *ngIf="showNotification" class="custom-control-label" for="customSwitch1">Включено</label>-->
                <!--<label *ngIf="!showNotification" class="custom-control-label" for="customSwitch1">Выключено</label>-->
            </td>
          </tr>
          <tr>
            <td>Номер договора для оплаты</td>
            <td>{{user?.id}}</td>
          </tr>
          <tr>
            <td>Начало обучения</td>
            <td>
              <ng-container *ngIf="!user?.startedAt">Вычисляется от даты первого комментария к уроку</ng-container>
              <ng-container *ngIf="user?.startedAt">{{ user?.startedAt | date: 'dd.MM.yyyy HH:mm' }}</ng-container>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
