<ng-container >
  <div class="container-fluid">
    <div class="row">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Название </th>
          <th scope="col">Ссылка на проект</th>
          <th scope="col">Статус</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let pr of projects">
          <td>{{pr.name}}</td>
          <td><a target="_blank" href="{{pr.link}}">github</a></td>
          <td><a [routerLink]="['project-view/', pr.id]">{{pr.status}}</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
