<div class="container-fluid top">
  <div class="row">
    <div *ngIf="!showAlert" class="form-row">
      <div class="form-group">
        <button (click)="checkAndGo()" class="btn btn-sm btn-info"
           type="button">
          Создать собеседование
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="showAlert" class="alert alert-danger" role="alert">
    {{'Необходимо оставить отзыв о проведенном '}}<a [routerLink]="'/interviews/view/' + existingId">собеседовании</a>
  </div>
  <div class="row">
    <table class="table">
      <caption></caption>
      <thead>
      <tr>
        <th scope="col">Собеседования</th>
        <th scope="col">Дата</th>
      </tr>
      </thead>
      <tbody infinite-scroll
             class="noscroll"
             [infiniteScrollDisabled]="!paginationAllowed"
             [infiniteScrollDistance]="scrollDistance"
             [infiniteScrollThrottle]="throttle"
             (scrolled)="onScrollDown()">
      <ng-container *ngFor="let interv of interviews; let idx=index">
        <tr>
          <td (click)="goTo(interv)" style="cursor: pointer;">
            <div>
              <i class="fas fa-tasks pr-3"></i>
              <span class="font-weight-bold">{{interv.title}}</span>
            </div>
            <small class="mb-2 text-muted">
              <span>
                <span class="mr-3">
                   <span *ngIf="interv.status == 'CLOSED'" class="badge badge-secondary">Завершено</span>
                  <span *ngIf="interv.status == 'ACTIVE'" class="badge badge-danger">Новое</span>
                  <span *ngIf="interv.status == 'AWAITING'" class="badge badge-warning">Ожидает отзыв</span>
                </span>
              </span>
              <span>
                <span class="mr-3">
                  <span *ngIf="interv.type == 'PASS'" >Пройти</span>
                  <span *ngIf="interv.type == 'CONDUCT'">Провести</span>
                </span>
              </span>
              <span>
                <span class="mr-3">Автор: {{ interv.submitterName }}</span>
              </span>
              <span *ngIf="!!interv.userScore">
                <span class="mr-3">Принято: {{interv.userScore.countConduct}}, Средний балл: {{interv.userScore.conductScore}}</span>
                <span class="mr-3">Сдано: {{interv.userScore.countPass}}, Средний балл: {{interv.userScore.passScore}}</span>
              </span>
            </small>
          </td>
          <td>{{ interv.approximateDate }}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>

