<div *ngIf="!edit">
  <div class="pb-3 small">
                <span>
                 <span *ngIf="message.status?.id == 1"
                       class="badge badge-danger mr-3">{{ message.status?.statusName }}</span>
                  <span *ngIf="message.status?.id == 3"
                        class="badge badge-success mr-3">{{ message.status?.statusName }}</span>
                  <span *ngIf="message.status?.id == 2"
                        class="badge badge-dark mr-3">{{ message.status?.statusName }}</span>
                  <span *ngIf="message.status?.id == 4"
                        class="badge badge-warning mr-3">{{ message.status?.statusName }}</span>
                  Сообщение от <span class="font-weight-bold">{{ message.submitter.name }}
                  [{{message.submitter.mentor ? 'Ментор' : 'Ученик'}}]
                </span> к <span class="font-weight-bold">{{ message.handler.name }}
                  [{{!message.submitter.mentor ? 'Ментор' : 'Ученик'}}]</span>
                </span>
    <span class="pull-right" *ngIf="message.submitter.id === user.id" (click)="editMessage()">
      <i class="fa fa-edit ml-3"></i>
    </span>
    <span class="pull-right">{{ message.message.timeMils | date: 'dd.MM.yyyy HH:mm' }}</span>
  </div>
  <div class="text-wrap" [innerHTML]="message.message.text"></div>
</div>
<div *ngIf="edit">
  <app-redactor [text]="message.message.text" [titleLabel]="'Выполняется: Редактирование.' "
                (outputEmitter)="updateComment($event)"
  ></app-redactor>
  <button [disabled]="!newText"
          (click)="update()" class="btn btn-sm btn-success mr-2">Сохранить</button>
  <button (click)="cancel()" class="btn btn-sm btn-outline-secondary">Отменить</button>
</div>
