<div class="container-fluid">
  <div class="row">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">{{ 'Задания' }} : {{tasks.length}}</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let task of tasks; let idx = index">
        <td>
          <a [routerLink]="task.solution ?  ['/exercise', topicId, 'task-view', task.task.id, 'solutionId', task.solution.id]
          : ['/exercise', topicId, 'task-view', task.task.id]">
          <div>
            <i class="fas fa-tasks pr-3"></i>
            <span class="font-weight-bold">{{task.task.name}} &nbsp;{{getSolutionId(task)}}</span>
          </div>
          <small class="mb-2 text-muted">
            <span>
              <span *ngIf="task.status.start" class="badge badge-danger mr-3">{{ task.status.statusName }}</span>
              <span *ngIf="task.status.finish" class="badge badge-success mr-3">{{ task.status.statusName }}</span>
              <span *ngIf="!(task.status.finish || task.status.start)" class="badge badge-warning mr-3">{{ task.status.statusName }}</span>
              <span *ngIf="task.handler" class="mr-3">Ответственный : {{ task.handler.name }}</span>
            </span>
            <span *ngIf="task.solution" class="mr-3">Создана : {{ task.solution.createdTime | date: 'HH:mm dd.MM.yyyy' }}</span>
            <span *ngIf="task.solution" class="mr-3">Обновлена : {{  task.solution.updatedTime | date: 'HH:mm dd.MM.yyyy' }}</span>
          </small>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
