<div class="container-fluid pb-4">
  <div class="row pb-2">
    <div class="col-sm">
      <ng-container *ngFor="let button of buttons">
        <button class="m btn btn-info btn-sm" (click)="goToComments(button)">{{ button.name }}</button>
      </ng-container>
    </div>
    <div class="col-sm">
      <button type="button" class="m btn btn-light btn-sm pull-right" *ngIf="previousAndNext.next"
              (click)="goTo(previousAndNext.next)">Следующая<i class="fas fa-angle-right pl-1"></i></button>
      <button type="button" class="m btn btn-light btn-sm pull-right" *ngIf="previousAndNext.previous"
              (click)="goTo(previousAndNext.previous)"><i class="fas fa-angle-left pr-1"></i>Предыдущая</button>
    </div>
  </div>
  <app-message *ngFor="let message of messages"
               [message]="message"
  ></app-message>
  <div class="row">
    <div class="w-100 card">
      <div class="card-header">
        {{ task.string }}
      </div>
      <div class="card-body">
        <p class="card-text" [innerHTML]="task.description | safeCode"></p>
      </div>
    </div>
  </div>
</div>
