<div class="container-fluid pb-4">
  <div class="row pb-2">
    <span class="w-50">
      <ng-container *ngFor="let button of buttons">
        <button class="m btn btn-info btn-sm" (click)="goToComments(button)">{{ button.name }}</button>
      </ng-container>
    </span>
    <span class="w-50 pull-right">
      <button type="button" class="m btn btn-light btn-sm pull-right" *ngIf="previousAndNext.next"
              (click)="goTo(previousAndNext.next)">Следующая<i class="fas fa-angle-right pl-1"></i></button>
      <button type="button" class="m btn btn-light btn-sm pull-right" *ngIf="previousAndNext.previous"
              (click)="goTo(previousAndNext.previous)"><i class="fas fa-angle-left pr-1"></i>Предыдущая</button>
    </span>
  </div>
  <div class="row">
    <div class="w-100 card">
      <div class="card-header">
        {{ task.string }}
      </div>
      <div class="card-body">
        <p class="card-text" [innerHTML]="task.description | safeCode"></p>
      </div>
    </div>
  </div>
  <div class="row pb-2 pt-3">
    <span class="w-50">
      <ng-container *ngFor="let button of buttons">
        <button class="m btn btn-info btn-sm" (click)="goToComments(button)">{{ button.name }}</button>
      </ng-container>
    </span>
  </div>
  <div class="row">
    <div class="w-100 card">
      <div class="card-header">
        Сообщения
      </div>
      <div class="card-body">
        <table class="table">
          <tbody>
          <tr *ngFor="let message of messages">
            <td>
              <div class="pb-3">
                <span><small>Oт {{ message.submitter.name }}  к  {{ message.handler.name }}.</small></span>
                <span class="pull-right">{{ message.message.time | getDate }}</span>
              </div>
              <div [innerHTML]="message.message.description | safeCode"></div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row pt-2">
   <span class="w-50">
      <ng-container *ngFor="let button of buttons">
        <button class="m btn btn-info btn-sm" (click)="goToComments(button)">{{ button.name }}</button>
      </ng-container>
    </span>
    <span class="w-50 pull-right">
      <button type="button" class="m btn btn-light btn-sm pull-right" *ngIf="previousAndNext.next"
              (click)="goTo(previousAndNext.next)">Следующая<i class="fas fa-angle-right pl-1"></i></button>
      <button type="button" class="m btn btn-light btn-sm pull-right" *ngIf="previousAndNext.previous"
              (click)="goTo(previousAndNext.previous)"><i class="fas fa-angle-left pr-1"></i>Предыдущая</button>
    </span>
  </div>
</div>
