<div class="container-fluid pb-4">
  <div class="row pb-2">
    <span class="w-50">
    <span class="w-50">
      <button *ngIf="task.task.type !== 2" class="btn btn-info btn-sm"
              (click)="goToComments({name: 'Отправить на проверку', id: 2})"
              [disabled]="updatedGreatThanThreeDays || user?.payment === 'Демо доступ'"
              [title]="updatedGreatThanThreeDays ? 'Вы не можете повторно отправлять решение.' : (user?.payment === 'Демо доступ' ? 'Пробный период закончился' : '')">Отправить на проверку</button>
            <button *ngIf="task.task.type === 2" class="btn btn-info btn-sm"
                    (click)="goToComments({name: 'Отправить на проверку', id: 2})"
                    [disabled]="updatedGreatThanThreeDays || user?.payment === 'Демо доступ'"
                    [title]="updatedGreatThanThreeDays ? 'Вы не можете повторно отправлять решение.' : (user?.payment === 'Демо доступ' ? 'Пробный период закончился' : '')">Ознакомился(лась)</button>
    </span>
    </span>
    <span class="w-50 pull-right">
      <button type="button" class="m btn btn-light btn-sm pull-right"
              (click)="goBackToList()"><i class="fas fa-angle-up pr-1"></i>Вверх</button>
      <button *ngIf="task.nextId !== -1" type="button" class="ml-2 m btn btn-light btn-sm pull-right"
              (click)="goBackToList(task.nextId)">Следующий<i class="fas fa-angle-right pl-1"></i></button>
      <button *ngIf="task.previousId !== -1" type="button" class="ml-2 m btn btn-light btn-sm pull-right"
              (click)="goBackToList(task.previousId)"><i class="fas fa-angle-left pr-1"></i>Предыдущий</button>
      <button [disabled]="task.status?.id != 3" class="btn btn-success btn-sm ml-1 pull-right"
              (click)="goToSolutions()"
              title="Решения других учеников станут доступны после выполнения урока">Было решено: {{totalSolutions}}</button>
    </span>
  </div>
  <div class="row pb-1">
    <div class="w-100 card">
      <div class="card-header">
        <div class="grid">
          <div class="row">
            <div class="col-sm-12">
              <div>
                <span class="font-weight-bold">{{ task?.task?.name }} {{ getSolutionId() }}
                  <i class="fa fa-copy ml-1"
                     (click)="copyTitle()"
                     title="Копировать название"
                     style="cursor: pointer;" aria-hidden="true"></i>
                </span>
                <span *ngIf="user?.name !== 'anonimus'" class="pull-right">
                  <i class="fa fa-comments-o mr-2"
                     onclick="window.scrollTo(0, document.body.scrollHeight);"
                     title="Открыть обсуждения учеников"
                     style="cursor: pointer;" aria-hidden="true"></i>
                  <app-book-mark-star [name]="name"></app-book-mark-star>
                  <i *ngIf="rating?.vote !== 'DOWN'"
                     title="Урок ненравится"
                     (click)="vote(false)" class="fa fa-thumbs-down text-muted"
                     style="cursor: pointer;"></i>
                  <i *ngIf="rating?.vote === 'DOWN'"
                     title="Урок ненравится"
                     (click)="vote(false)" class="fa fa-thumbs-down text-danger" style="cursor: pointer;"></i>
                  <span class="ml-1 mr-2">{{ rating?.down }}</span>
                  <i *ngIf="rating?.vote !== 'UP'"
                     title="Урок нравится"
                     (click)="vote(true)" class="fa fa-thumbs-up text-muted"
                     style="cursor: pointer;"></i>
                  <i *ngIf="rating?.vote === 'UP'"
                     title="Урок нравится"
                     (click)="vote(true)" class="fa fa-thumbs-up text-primary"
                     style="cursor: pointer;"></i>
                  <span class="ml-1">{{ rating?.up }}</span>
              </span>
                <span class="pull-right mr-2" *ngIf="task?.task?.readTime" title="Время на чтение">
                  <i aria-hidden="true" class="fa fa-eye text-muted"></i> {{task.task.readTime}} мин.
                 </span>
              </div>
              <div>
              </div>
              <div>
                <small class="mb-2 text-muted">
                 <span *ngIf="task.status?.id == 1"
                       class="badge badge-danger mr-3">{{ task.status?.statusName }}</span>
                  <span *ngIf="task.status?.id == 3"
                        class="badge badge-success mr-3">{{ task.status?.statusName }}</span>
                  <span *ngIf="task.status?.id == 2"
                        class="badge badge-warning mr-3">{{ task.status?.statusName }}</span>
                  <span *ngIf="task.status?.id == 4"
                        class="badge badge-warning mr-3">{{ task.status?.statusName }}</span>
                  <span *ngIf="task.handler" class="mr-1 font-weight-bolder"
                        title="Отвественный">
                    <i aria-hidden="true" class="fa fa-user text-muted"></i> {{task.handler.name }},
                  </span>
                  <span *ngIf="task.solution" class="mr-1" title="Дата начало решения">
                    <i aria-hidden="true" class="fa fa-hourglass-start text-muted"></i> {{ task.solution?.createdTime | date: 'dd.MM.yyyy HH:mm' }}, </span>
                  <span *ngIf="task.solution" class="mr-1" title="Дата обоновления решения">
                    <i aria-hidden="true" class="fa fa-hourglass-3 text-muted"></i> {{  task.solution?.updatedTime | date: 'dd.MM.yyyy HH:mm' }}, </span>
                  <span *ngIf="taskTime" class="mr-1" title="Среднее время решения">
                    <i aria-hidden="true" class="fa fa-clock-o text-muted"></i> {{ taskTime }}
                  </span>
                </small>
                <!--                <div class="pull-right col-sm-2">-->
                <!--                  <app-book-mark-star [name]="name"></app-book-mark-star>-->
                <!--                </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text" [innerHTML]="task?.task?.description | safeCode"></p>
      </div>
      <div class="card-footer text-muted">
        {{ task?.task?.name }} {{ getSolutionId() }}
        <i class="fa fa-copy ml-1"
           (click)="copyTitle()"
           title="Копировать название"
           style="cursor: pointer;" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="w-100 card">
      <div class="card-header">
        <div class="font-weight-bold">Недавно решали: </div>
        <small style="cursor: pointer;" *ngFor="let rs of recentlySolved" (click)="openProfile(rs.userId, rs.login)">
          <i class="fa fa-user"></i> {{ rs.username }} {{ rs.time | date: 'dd.MM.yyyy HH:mm' }},&nbsp;
        </small>
      </div>
    </div>
  </div>
  <div class="row mt-2" *ngIf="messages.length > 0" style="word-break: break-all;">
    <div class="w-100 card">
      <div class="card-header">
        <div class="font-weight-bold">Сообщения</div>
      </div>
      <div class="card-body">
        <table class="table">
          <tbody>
          <tr *ngFor="let message of messages">
            <td *ngIf="message.submitter.mentor" style='border-left: 5px solid #ffc107;' >
              <app-message-element [message]="message"
                                   [taskId]="task.task.id"
                                   [user]="user"></app-message-element>
            </td>
            <td *ngIf="!message.submitter.mentor">
              <app-message-element [message]="message"
                                   [taskId]="task.task.id"
                                   [user]="user"></app-message-element>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--  <div class="row pt-2" *ngIf="messages.length > 0 && !showCommentForm">-->
  <!--   <span class="w-50">-->
  <!--      <ng-container *ngFor="let button of buttons">-->
  <!--        <button class="m btn btn-info btn-sm" (click)="goToComments(button)">{{ button.name }}</button>-->
  <!--      </ng-container>-->
  <!--    </span>-->

  <!--  </div>-->
  <div class="row pt-2">
    <span class="w-50">
       <button *ngIf="task.task.type !== 2" class="btn btn-info btn-sm"
               (click)="goToComments({name: 'Отправить на проверку', id: 2})"
               [disabled]="updatedGreatThanThreeDays"
               [title]="updatedGreatThanThreeDays ? 'Вы не можете повторно отправлять решение.' : ''">Отправить на проверку</button>
            <button *ngIf="task.task.type === 2" class="btn btn-info btn-sm"
                    (click)="goToComments({name: 'Отправить на проверку', id: 2})"
                    [disabled]="updatedGreatThanThreeDays || user?.payment === 'Демо доступ'"
                    [title]="updatedGreatThanThreeDays ? 'Вы не можете повторно отправлять решение.' : (user?.payment === 'Демо доступ' ? 'Пробный период закончился' : '')">Ознакомился(лась)</button>
    </span>
    <span class="w-50 pull-right">
      <button type="button" class="ml-2 m btn btn-light btn-sm pull-right"
              (click)="goBackToList()"><i class="fas fa-angle-up pr-1"></i>Вверх</button>
      <button *ngIf="task.nextId !== -1" type="button" class="ml-2 m btn btn-light btn-sm pull-right"
              (click)="goBackToList(task.nextId)">Следующая<i class="fas fa-angle-right pl-1"></i></button>
      <button *ngIf="task.previousId !== -1" type="button" class="ml-2 m btn btn-light btn-sm pull-right"
              (click)="goBackToList(task.previousId)"><i class="fas fa-angle-left pr-1"></i>Предыдущая</button>
      <button [disabled]="task.status?.id != 3" class="btn btn-success btn-sm ml-1 pull-right"
              (click)="goToSolutions()"
              title="Решения других учеников станут доступны после выполнения урока">Решения</button>
    </span>
  </div>
  <div  id="comment" class="row comment">
    <app-comments *ngIf="showCommentForm"
                  [operation]="operation.name"
                  [handlers]="handlers"
                  [taskId]="task.task.id + ''"
                  (save)="saveComment($event)"
    ></app-comments>
  </div>
  <div *ngIf="user?.name !== 'anonimus' && rating?.vote === 'NO'" class="row mt-lg-5 mb-1">
    <div class="w-100 card">
      <div class="card-header">
        <div class="font-weight-bold">Понравилось задание?</div>
        <div>
          <small class="mb-2 text-muted">
            Поставьте понравилось или нет. Эта оценка позволяет нам улучшать проект Job4j.
          </small>
          <span class="ml-3">
                  <i *ngIf="rating?.vote !== 'DOWN'" (click)="vote(false)" class="fa fa-thumbs-down text-muted" style="cursor: pointer;"></i>
                  <i *ngIf="rating?.vote === 'DOWN'" (click)="vote(false)" class="fa fa-thumbs-down text-danger" style="cursor: pointer;"></i>
                  <span class="ml-1 mr-2">{{ rating?.down }}</span>
                  <i *ngIf="rating?.vote !== 'UP'" (click)="vote(true)" class="fa fa-thumbs-up text-muted" style="cursor: pointer;"></i>
                  <i *ngIf="rating?.vote === 'UP'" (click)="vote(true)" class="fa fa-thumbs-up text-primary" style="cursor: pointer;"></i>
                  <span class="ml-1">{{ rating?.up }}</span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <app-discussion-block [discussions]="discussions"
                        [user]="user"
                        (deleteEmitter)="deleteDiscussion($event)"
                        (closeEmitter)="closeDiscussion($event)"
                        (updateEmitter)="updateDiscussion($event)"
                        (addResponse)="addResponse($event)"
                        (showButton)="showButton()"
  ></app-discussion-block>
  <div *ngIf="showButtonBottom" class="row">
        <span  class="w-100 pull-right mb-1">
                    <button *ngIf="!!user && user?.login !== 'anonymous'" class="m btn btn-info btn-sm"
                            (click)="showDiscussionForm()">{{'Обсудить'}}</button>
        </span>
  </div>
</div>
