<div class="container-fluid pb-4">
  <div class="row pb-2">
    <span class="w-50">
    <span class="w-50">
        <button *ngIf="task.status?.id === 3" class="btn btn-info btn-sm" (click)="goToComments({name: 'Комментировать', id: 2})">Открыть</button>
        <button class="btn btn-info btn-sm ml-1" (click)="goToComments({name: 'Комментировать', id: 2})">Комментировать</button>
        <button *ngIf="task.status?.id === 2" class="ml-1 btn btn-info btn-sm" (click)="goToComments({name: 'Закрыть', id: 3})">Закрыть</button>
    </span>
    </span>
    <span class="w-50 pull-right">
      <button type="button" class="ml-2 m btn btn-light btn-sm pull-right"
              (click)="goBackToList()"><i class="fas fa-angle-up pr-1"></i>Вверх</button>
      <button type="button" class="ml-2 m btn btn-light btn-sm pull-right"
               (click)="goBackToList(task.nextId)">Следующая<i class="fas fa-angle-right pl-1"></i></button>
      <button type="button" class="ml-2 m btn btn-light btn-sm pull-right"
              (click)="goBackToList(task.previousId)"><i class="fas fa-angle-left pr-1"></i>Предыдущая</button>
    </span>
  </div>
  <div class="row">
    <div class="w-100 card">
      <div class="card-header">
        <div class="grid">
          <div class="row">
            <div class="col-sm-10">
              <div class="font-weight-bold">{{ task?.task?.name }} {{ getSolutionId() }}</div>
              <div>
                <small class="mb-2 text-muted">
                  <span *ngIf="task.status?.start" class="badge badge-danger mr-3">{{ task.status?.statusName }}</span>
                  <span *ngIf="task.status?.finish" class="badge badge-success mr-3">{{ task.status?.statusName }}</span>
                  <span *ngIf="!(task.status?.finish || task.status?.start)" class="badge badge-warning mr-3">{{ task.status?.statusName }}</span>
                  <span *ngIf="task.handler" class="mr-3">Ответственный : {{task.handler.name }}</span>
                  <span class="mr-3">Начало решения : {{ task.solution?.createdTime | date: 'hh:mm dd.MM.yyyy' }}</span>
                  <span>Обновлена : {{  task.solution?.updatedTime | date: 'hh:mm dd.MM.yyyy' }}</span>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text" [innerHTML]="task?.task?.description | safeCode"></p>
      </div>
    </div>
  </div>
<!--  <div class="row pb-2 pt-3">-->
<!--    <span class="w-50" *ngIf="!showCommentForm">-->
<!--      <ng-container *ngFor="let button of buttons">-->
<!--        <button class="m btn btn-info btn-sm" (click)="goToComments(button)">{{ button.name }}</button>-->
<!--      </ng-container>-->
<!--    </span>-->
<!--  </div>-->
  <div class="row mt-2" *ngIf="messages.length > 0"  style="word-break: break-all;">
    <div class="w-100 card">
      <div class="card-header">
        <div class="font-weight-bold">Сообщения</div>
      </div>
      <div class="card-body">
        <table class="table">
          <tbody>
          <tr *ngFor="let message of messages">
            <td>
              <div class="pb-3 small">
                <span>Oт <span class="font-weight-bold">{{ message.submitter.name }}</span> к <span class="font-weight-bold">{{ message.handler.name }}</span></span>
                <span class="pull-right">{{ message.message.timeMils | date: 'hh:mm dd.MM.yyyy' }}</span>
              </div>
              <div [innerHTML]="message.message.text"></div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<!--  <div class="row pt-2" *ngIf="messages.length > 0 && !showCommentForm">-->
<!--   <span class="w-50">-->
<!--      <ng-container *ngFor="let button of buttons">-->
<!--        <button class="m btn btn-info btn-sm" (click)="goToComments(button)">{{ button.name }}</button>-->
<!--      </ng-container>-->
<!--    </span>-->

<!--  </div>-->
  <div class="row pt-2">
    <span class="w-50">
        <button *ngIf="task.status?.id === 3" class="btn btn-info btn-sm" (click)="goToComments({name: 'Комментировать', id: 2})">Открыть</button>
        <button class="btn btn-info btn-sm ml-1" (click)="goToComments({name: 'Комментировать', id: 2})">Комментировать</button>
        <button *ngIf="task.status?.id === 2" class="ml-1 btn btn-info btn-sm" (click)="goToComments({name: 'Закрыть', id: 3})">Закрыть</button>
    </span>
    <span class="w-50 pull-right">
      <button type="button" class="ml-2 m btn btn-light btn-sm pull-right"
              (click)="goBackToList()"><i class="fas fa-angle-up pr-1"></i>Вверх</button>
      <button type="button" class="ml-2 m btn btn-light btn-sm pull-right"
              (click)="goBackToList(task.nextId)">Следующая<i class="fas fa-angle-right pl-1"></i></button>
      <button type="button" class="ml-2 m btn btn-light btn-sm pull-right"
              (click)="goBackToList(task.previousId)"><i class="fas fa-angle-left pr-1"></i>Предыдущая</button>
    </span>
  </div>
  <div class="row">
    <app-comments *ngIf="showCommentForm"
                  [operation]="operation.name"
                  [handlers]="handlers"
                  [taskId]="task.task.id + ''"
                  (save)="saveComment($event)"
    ></app-comments>
  </div>
<!--  <div *ngIf="!!task.shortname" class="row mt-lg-5" style="word-break: break-all;">-->
<!--    <div class="w-100 card">-->
<!--      <div class="card-header">-->
<!--        <div class="font-weight-bold">Обсуждения. Комментариев : {{discussions.length}}</div>-->
<!--        <div>-->
<!--          <small class="mb-2 text-muted">-->
<!--            Эти комментарии доступны всем ученикам. Поделитесь своим мнением о задаче,-->
<!--            полезными ссылками, рекомендациями по решению. Не скидывайте решения целиком!-->
<!--          </small>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="card-body">-->
<!--        <table class="table" *ngIf="discussions.length > 0">-->
<!--          <tbody>-->
<!--          <tr *ngFor="let discussion of discussions">-->
<!--            <td>-->
<!--              <div class="pb-3 small">-->
<!--                <span>Oт-->
<!--                  <span class="font-weight-bold">{{ discussion.name }}</span>-->
<!--                </span>-->
<!--                <span class="pull-right">{{ discussion.time | getDate }}</span>-->
<!--              </div>-->
<!--              <div [innerHTML]="discussion.text | safeCode"></div>-->
<!--            </td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div *ngIf="!!task.shortname && user?.login !== 'anonymous'" class="row pt-2">-->
<!--   <span class="mt-3 w-50">-->
<!--        <button class="m btn btn-info btn-sm"-->
<!--                (click)="showDiscussionForm()">{{'Обсудить'}}</button>-->
<!--    </span>-->
<!--  </div>-->
<!--  <div class="row" *ngIf="showDiscussion">-->
<!--    <app-discussion-->
<!--      [shortname]="task.shortname"-->
<!--      (closeEmitter)="closeDiscussion($event)"-->
<!--    ></app-discussion>-->
<!--  </div>-->
</div>
