.custom-card .popup {
  position: absolute;
  background-color: #f5f5f5;
  color: #333;
  padding: 3px; /* Reduced padding */
  border-radius: 8px; /* Slightly smaller border radius */
  font-size: 14px; /* Reduced font size */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Reduced shadow size */
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
  opacity: 0.95;
  white-space: nowrap; /* Prevent line breaks */
}

.custom-card .btn {
  display: inline-block; /* Display buttons inline */
  margin: 3px; /* Smaller margin for spacing */
  color: #fff;
  background-color: #17a2b8;
  padding: 3px 10px; /* Reduced padding for buttons */
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 12px; /* Reduced font size for buttons */
}

.custom-card .btn:hover {
  background-color: #138496;
  transform: scale(1.03); /* Slightly smaller scale effect */
}

.custom-card .btn.disabled {
  background-color: #6c757d;
  cursor: not-allowed;
  pointer-events: none;
}
