<div class="container-fluid pb-4">
  <div class="row">
    <div class="form-group d-flex justify-content-between w-100">
      <button (click)="deleteMessage()" class="btn btn-sm btn-danger" type="button">
        Удалить все
      </button>
    </div>
  </div>
  <div class="row pb-2 w-100">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Уведомления
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let message of messages">
        <td style="cursor: pointer;" (click)="goTo(message)">
          <span>
              <p>{{ message.body }}</p>
          </span>
        </td>
      <td>
        <a (click)="delete(message)" class="pull-right">
          <i class="fas fa-remove mr-1" title="Удалить"></i>
        </a>
      </td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
