<div class="container-fluid">
  <div class="row">
    <table class="table">
      <ng-container *ngFor="let question of questions; let idx=index">
        <tr>
          <td style="cursor: pointer;">
            <div (click)="linkQuestion(topic?.id, question?.id)">
              <div>
                <i class="fas fa-tasks pr-2"></i>
                <span class="font-weight-bold">{{question.title}}</span><br/>
                <span class="small text-muted">
                  <i aria-hidden="true" class="fa fa-eye"></i> {{ views[question.id] }}
                </span>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </table>
  </div>
</div>
