<div class="container-fluid">
  <div class="form-row">
    <div class="form-group mr-2">
      <div class="dropdown">
        <button class="btn btn-sm btn-light dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          Уровень
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a *ngFor="let l of levels" (click)="selectLevel(l)" class="dropdown-item">{{ l.name }}</a>
        </div>
      </div>
    </div>
    <div class="form-group mr-2">
      <div class="dropdown">
        <button class="btn btn-sm btn-light dropdown-toggle"
                type="button"
                id="dropdownMenuButton2"
                data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          Категория
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
          <a *ngFor="let c of currentCategories" (click)="selectCat(c)" class="dropdown-item">{{ c.name }}</a>
        </div>
      </div>
    </div>
    <div class="mr-2" *ngIf="level">
      <button (click)="selectLevel()" class="btn btn-sm btn-light mb-3">
        {{ level.name }}
        <i (click)="selectLevel()" class="fas fa-times pl-1"></i>
      </button>
    </div>
    <div *ngIf="category">
      <button class="btn btn-sm btn-light mb-3">
        {{ category.name }}
        <i (click)="selectCat()" class="fas fa-times pl-1"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">{{ 'Название темы:' }}</th>
        <th scope="col">{{ 'Прогресс' }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let task of tasks">
        <td>
          <a style="text-decoration: none;" [routerLink]="['/exercise', task?.id]">
            <div>
              <i class="fas fa-folder pr-3"></i>
              <span class="font-weight-bold">{{task.name}}</span>
            </div>
            <small class="mb-2 text-muted">
            <span>
              <span class="badge badge-light mr-1">{{ task.level.name }}</span>
              <span class="badge badge-light mr-1">{{ task.category.name }}</span>
            </span>
              <!--            <span class="mr-3">Создана : {{ task.task.submitdate | date: 'hh:mm dd.MM.yyyy' }}</span>-->
              <!--            <span class="mr-3">Обновлена : {{  task.task.updatedate | date: 'hh:mm dd.MM.yyyy' }}</span>-->
              <!--            <span class="mr-3" *ngIf="!task.task.preferences.includes('V')"> Потрачено : {{ getSpentDays( task.task.submitdate, task.task.updatedate)}} </span>-->
            </small>
          </a>
        </td>
        <td>
          <app-progress-bar-solutions [topicId]="task.id"
          ></app-progress-bar-solutions>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
