.m {
  margin: 1px;
}
a {
  color: black;
}

.header {
  background-color: #6a4c93;
  color: white;
  padding: 60px 0;
}

.btn-start {
  background-color: #f04e23;
  color: white;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 5px;
  text-transform: uppercase;
}

.features {
  background-color: #f1f1f1;
  padding: 50px 0;
}

.feature-item {
  padding: 20px;
}

.feature-item h5 {
  font-weight: bold;
}

.footer {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}
