<div class="container">
  <div class="row">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Процесс обучения</th><th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Выполнено / всего:</td><td>{{ solvedTasksCount }} / {{ allTasksCount }}</td>
      </tr>
      <tr>
        <td>Начало обучения:</td><td>{{ submitDate | getDate }}</td>
      </tr>
      <tr>
        <td>Последняя активность в курсе:</td><td>{{ updateDate | getDate }}</td>
      </tr>
      <tr>
        <td>Всего дней с начала обучения:</td><td>{{ countOfDays }}</td>
      </tr>
      <tr>
        <td>Количество задач в день:</td><td>{{ speed | number: '1.2-2' }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <app-diagramma *ngFor="let diagram of diagrams"
                 [diagram]="diagram">
  </app-diagramma>
  <div class="row pt-3">
    <div class="col-sm-6" *ngIf="provenTasks">
      <h3>Проверенные задачи</h3>
      <div class="card" *ngFor="let task of provenTasks">
        <div class="card-body">
          <h6 class="card-title">{{ task.task.name }}</h6>
          <button class="btn btn-primary" (click)="openTask(task.task)">Посмотреть задачу</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <h3>Новые задачи</h3>
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Special title treatment</h6>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h3 class="mt-3">Полезные ресурсы</h3>
    <div class="card w-100">
      <div class="card-body">
        <h5 class="card-title">Полезные ресурсы</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Button</a>
      </div>
    </div>
  </div>
</div>
