<div class="container-fluid">
  <div class="row">
    <div class="w-100 card">
      <div class="card-header">
        <div class="font-weight-bold">{{ exam.name }}</div>
        <div>
          <small class="mb-2 text-muted">
            {{ exam.intro }}
          </small>
        </div>
      </div>
      <div class="card-body">
        <p [innerHTML]="exam?.description | safeCode"></p>
      </div>
    </div>
    <button class="btn btn-success btn-default mt-2" (click)="startExam(exam)">Начать</button>
  </div>
  <app-leaders></app-leaders>
</div>
