<div class="container-fluid">
  <div class="row">
    <div class="w-100 card">
      <div class="card-header">
        <div class="font-weight-bold">Оплата обучения</div>
      </div>
      <div class="card-body">
        <p>
          Стоимость обучения: <br/>
          Уровень стажер: 14780 рублей. <br/>
          Уровень джуниор: 15950 рублей. <br/>
          Уровень мидл: 18170 рублей. <br/>
        </p>
        <p>
          Сначала добавьте Арсентьева Петра в телеграм @parsentev.
        </p>
        <p>
          Договоритесь о времени, чтобы познакомиться и обсудить вопросы.
        </p>
        <p>
          Произведите оплату по реквизитам ниже. Оплатить можно через любой онлайн банкинг. В банк идти не нужно.
        </p>
        <p>
        <p>
          Реквизиты.<br/>
        <br/>
          1. Выполнить перевод на огранизацию, а не на физическое лицо.<br/>
          2. КПП указывать не надо.<br/>
          3. В назначении платежа укажите - Договор № ..<br/>
          4. Номер договора находится в профиле ученика.<br/>
          5. После оплаты пришлите мне в телеграмм @parsentev или на почту petrarsentev скрин перевода или скан(фото) чека.<br/>
          6. НДС не облагается.<br/>
        <br/>
          ИП Арсентьев Петр Сергеевич<br/>
          ОГРНИП 317325600036651<br/>
          ИНН 672204588096<br/>
          Расчетный счет: 40802810987720000540<br/>
        <br/>
          Реквизиты банка.<br/>
        <br/>
          Наименование: Московский Филиал ПАО  РОСБАНК<br/>
        <br/>
          Кор счет: 30101810000000000256 открытый в ГУ Банка России по Центральному федеральному округу.<br/>
        <br/>
          БИК: 044525256<br/>
          КПП: 770843001<br/>
          ОКПО: 74466754<br/>
          ОГРН:  1027739460737<br/>
          ОКВЭД: 65.12<br/>
          ОКАТО: 45277595000<br/>
          Адрес: 125445, Москва. Г. Москва. Улица Смольная, д. 22, стр.1.<br/>
          5. НДС не облагается.
        </p>
      </div>
    </div>
  </div>
</div>
