/* You can add global styles to this file, and also import other style files */
@import '~angular-tree-component/dist/angular-tree-component.css';
@import './src/app/shared/components/redactor/redactor.component.scss';

html, body { height: 100%; }
body {
  margin: 0; font-family: Arial, "Helvetica Neue", sans-serif;
}

pre {
  border: solid 1px #FFFFFF;
  background-color: #444;
  padding: 10px;
}

th {
  font-weight: normal;
}

.node-content-wrapper:hover,
.node-content-wrapper:focus,
.node-content-wrapper:active {
  background: #f7fbff;
  color: #000000 !important;
}
