/* You can add global styles to this file, and also import other style files */
@import '~angular-tree-component/dist/angular-tree-component.css';
html, body { height: 100%; }
body { margin: 0; font-family: Arial, "Helvetica Neue", sans-serif; }

pre {
  border: solid 1px;
  background-color: #FFFFFF;
  padding: 10px;
}

th {
  font-weight: normal;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
  width: 100%;
}

.node-content-wrapper-focused {
  background: #e7f4f9;
}
