<div class="container-fluid">
  <div class="row mb-lg-3 pt-lg-3">
    <div class="col-sm-12 pb-3">
      <div class="d-flex justify-content-between align-items-start w-100">
        <div>
          <div>
            <span class="font-weight-bold">
              Уровень: {{ category?.levelName }} / {{ category?.name }}
            </span>
          </div>
          <div class="small">
            <span>Стоимость: {{ category?.price }} &#8381;</span>
          </div>
        </div>
        <button (click)="listToTask()" class="btn btn-success btn-sm m-1">
          Начать демо
        </button>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="font-weight-bold pb-2">Учебная программа</div>
      <p [innerHTML]="category?.description | safeCode"></p>
      <div class="font-weight-bold pb-2">Процесс обучения</div>
      <p>Изначально я хотел, чтобы весь учебный процесс был похож на рабочую обстановку. Поэтому с первых уроков вы используете Git, системы статического анализа, тесты и системы непрерывного развёртывания.</p>
      <p>С другой стороны, мне хотелось, чтобы обучение было домашним и комфортным. Поэтому мы не вводим жёстких ограничений на сдачу заданий и общее время прохождения материала — вы можете заниматься в любое удобное время.</p>
      <p>Также мне хотелось, чтобы каждый ученик не превращался в безликое лицо. Поэтому мы стараемся помогать каждому индивидуально: проверяем каждый урок, объясняем теорию и в целом общаемся.</p>
      <p>Наверное, вы спросите: «Как же у вас хватает времени на всех?» Действительно, на курсе, кроме меня (Пётр Арсентьев), работают ещё три ментора: Стас, Алексей и Андрей, и нас хватает на всех. Дело в том, что я убрал неэффективные и трудозатратные элементы обучения: вебинары, видеоуроки и видео-лекции. Они были в самом начале проекта, но я сразу понял, что ученики львиную долю времени тратят на пассивный просмотр видео, считая это активным обучением. Я категорически против этого. Поэтому весь учебный материал изложен текстом с иллюстрациями. Таким образом мы смогли заменить часовые видео на десятиминутное чтение, что позволяет ученикам сразу начать активно применять полученные знания, а не откладывать это на завтра после пассивного просмотра.</p>
      <p>Ученик обращается к нам тогда, когда он выполнил свою часть учебного процесса — написал код или решил задачу, а не когда не понимает теорию и просит объяснить ещё раз. Теория без практики — пустое дело, особенно в программировании.</p>
      <p>Такой подход дал нам возможность сфокусироваться на практических навыках учеников, что, в свою очередь, приносит свои плоды.</p>
      <p>Подведу итог:</p>
      <ul>
        <li>Прагматический подход и много практики</li>
        <li>Необходимая теория для практики и собеседований</li>
        <li>Обратная связь от менторов — мы проверяем каждый урок</li>
        <li>Сдача теории ментору и подготовка к собеседованию</li>
        <li>Проектные работы</li>
      </ul>
      <p>Если у вас есть сомнения или вопросы по поводу учебной программы или уровня, буду рад обсудить их лично в Telegram:</p>
      <div class="font-weight-bold">Пётр Арсентьев <a target="_blank" href="https://t.me/parsentev">https://t.me/parsentev</a></div>

    </div>
  </div>
</div>
