<div class="row mb-lg-3 pt-lg-3">
  <div class="col-sm-12 pb-2">
    <span class="font-weight-bold">
      <i class="fa fa-users mr-2" aria-hidden="true"></i>Были сегодня: {{ infoList.length }} Решали: {{ countSolutions }}</span>
  </div>
  <div class="col-sm-12">
    <ng-container *ngFor="let info of infoList;">
            <span class="badge bg-light text-dark" style="cursor: pointer" (click)="openProfile(info.user.id, info.user.login)">
               <i class="fas fa-user pr-1"></i> {{info.user.name}}
            </span>
    </ng-container>
  </div>
</div>
