<div class="row mt-lg-5" style="word-break: break-all;">
  <div class="w-100 card">
    <div class="card-header">
      <div class="font-weight-bold"><i class="fa fa-users mr-2" aria-hidden="true"></i>
        Были сегодня : {{ infoList.length }}</div>
      <div>
      </div>
    </div>
    <div class="table2"
         infiniteScroll
         [infiniteScrollDistance]="scrollDistance"
         [infiniteScrollThrottle]="throttle"
         [scrollWindow]="false"
         (scrolled)="onScrollDown()">
      <div (click)="goTo(info)"  *ngFor="let info of infoList;" class="table2__info" >
        <p class="mb-1"><i class="fas fa-user pr-1"></i> {{info.text}}</p>
        <p class="mb-1">{{ info.created | date :'dd.MM.yyyy' }}</p>
      </div>

    </div>
  </div>
</div>
