<div id="sidebar">
  <div *ngIf="navShow" class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush small">
      <div class="list-group-item list-group-item-action bg-info">
        Навигация
      </div>
      <div class="pl-3 pb-2">
        <tree-root #tree
                   [nodes]="nodes" [focused]="true" [options]="options">
        </tree-root>
      </div>
    </div>
    <div class="list-group list-group-flush small">
      <a
        (click)="showItems()"
        class="list-group-item list-group-item-action bg-info"
      >
        Закладки
        <i *ngIf="items" class="fas fa-chevron-up fa_icons mr-3"></i>
        <i *ngIf="!items" class="fas fa-chevron-down fa_icons mr-3"></i>
      </a>
      <ng-container *ngIf="!!items">
        <ul class="list-unstyled">
          <li (click)="scroll()">
            <a
              [routerLink]="['/topics']"
              class="list-group-item list-group-item-action bg-light"
            >
              <i class="fas fa-info mr-2"></i
              ><span class="font-weight-bold">Упражнения</span>
            </a>
          </li>
          <li (click)="scroll()">
            <a
              [routerLink]="['/exercise']"
              class="list-group-item list-group-item-action bg-light"
            >
              <i class="fas fa-info mr-2"></i
              ><span class="font-weight-bold">Задания</span>
            </a>
          </li>
          <li>
            <a
              [routerLink]="['/']"
              class="list-group-item list-group-item-action bg-light"
            >
              <i class="fas fa-info mr-2"></i
              ><span class="font-weight-bold">Процесс обучения</span>
            </a>
          </li>
          <li>
            <a
              [routerLink]="['/task']"
              [queryParams]="{
                  action: 'task',
                  taskId: 'ae84b50d554cbf1d01558646352721c5',
                  number: '1151'
                }"
              class="list-group-item list-group-item-action bg-light"
            >
              <i class="fas fa-info mr-2"></i
              ><span class="font-weight-bold">Реквизиты</span>
            </a>
          </li>
          <li>
            <a
              [routerLink]="['/tasks']"
              [queryParams]="{
                  action: 'tasks',
                  taskId: 'ae84b50d571fe2340157387103bd1a68',
                  number: '2699'
                }"
              class="list-group-item list-group-item-action bg-light"
            >
              <i class="fas fa-info mr-2"></i
              ><span class="font-weight-bold">Критика и предложения</span>
            </a>
          </li>
          <li (click)="scroll()">
            <a
              [routerLink]="['/exams']"
              class="list-group-item list-group-item-action bg-light"
            >
              <i class="fas fa-info mr-2"></i
              ><span class="font-weight-bold">Тесты</span>
            </a>
          </li>
          <li *ngFor="let book of bookmarks">
            <a (click)="scroll()" class="list-group-item list-group-item-action bg-light">
                <span
                  (click)="goToBook(book)"
                  style="cursor: pointer;"
                  class="font-weight-bold"
                >{{ book.name }}</span
                >
              <span
                (click)="deleteBook(book)"
                class="pull-right font-weight-bold"
                style="cursor: pointer;"
              >
                  <i class="fas fa-remove" aria-hidden="true"></i>
                </span>
            </a>
          </li>
        </ul>
      </ng-container>
      <a
        (click)="showProven()"
        class="list-group-item list-group-item-action bg-info"
      >
        Проверенные задачи
        <i *ngIf="proven" class="fas fa-chevron-up fa_icons mr-3"></i>
        <i *ngIf="!proven" class="fas fa-chevron-down fa_icons mr-3"></i>
      </a>
      <ng-container *ngIf="!!proven && !!provenTasks?.length">
        <ul class="list-unstyled">
          <li *ngFor="let task of provenTasks">
            <a (click)="scroll()"
              [routerLink]="['/task']"
              [queryParams]="{ taskId: task.task.id, action: 'task', number: task.task.number }"
              class="list-group-item list-group-item-action bg-light"
            >
                <span class="font-weight-bold">
                  <i class="fas fa-tasks mr-2 bg-warning"></i
                  >{{ task.task.name }} &nbsp;[#{{ task.task.number }}]
                </span>
            </a>
          </li>
        </ul>
      </ng-container>
      <a
        (click)="showNew()"
        class="list-group-item list-group-item-action bg-info"
      >
        Новые задачи
        <i *ngIf="newTask" class="fas fa-chevron-up fa_icons mr-3"></i>
        <i *ngIf="!newTask" class="fas fa-chevron-down fa_icons mr-3"></i>
      </a>
      <ng-container *ngIf="newTask && !!newTasks?.length">
        <ul class="list-unstyled">
          <li *ngFor="let task of newTasks">
            <a (click)="scroll()"
              [routerLink]="['/task']"
              [queryParams]="{ action: 'task', taskId: task.task.id, number: task.task.number }"
              class="list-group-item list-group-item-action bg-light"
            >
                <span class="font-weight-bold">
                  <i class="fas fa-tasks mr-2 bg-danger"></i
                  >{{ task.task.name }} &nbsp;[#{{ task.task.number }}]
                </span>
            </a>
          </li>
        </ul>
      </ng-container>
    </div>
  </div>
</div>
