<div id="sidebar">
  <div *ngIf="navShow" class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush small">
      <a (click)="showItems()"
        class="list-group-item list-group-item-action bg-info">
        Закладки
        <i *ngIf="items" class="fas fa-chevron-up fa_icons mr-3"></i>
        <i *ngIf="!items" class="fas fa-chevron-down fa_icons mr-3"></i>
      </a>
      <ng-container *ngIf="!!items">
        <ul class="list-unstyled">
          <li (click)="scroll()">
            <a [routerLink]="['/exercise']"
               class="list-group-item list-group-item-action bg-light">
              <i class="fas fa-info mr-2"></i>
              <span class="font-weight-bold">Курс</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/']" (click)="setNaw()"
               class="list-group-item list-group-item-action bg-light">
              <i class="fas fa-info mr-2"></i>
              <span class="font-weight-bold">Прогресс обучения</span>
            </a>
          </li>
          <li>
          <li (click)="scroll()">
            <a [routerLink]="['/topics']"
              class="list-group-item list-group-item-action bg-light">
              <i class="fas fa-info mr-2"></i>
              <span class="font-weight-bold">Упражнения</span>
            </a>
          </li>
          <li (click)="scroll()">
            <a [routerLink]="['/vacancies']" class="list-group-item list-group-item-action bg-light">
              <i class="fas fa-info mr-2"></i>
              <span class="font-weight-bold">Вакансии</span>
            </a>
          </li>
          <li (click)="scroll()">
            <a [routerLink]="['/payment']"
               class="list-group-item list-group-item-action bg-light">
              <i class="fas fa-info mr-2"></i>
              <span class="font-weight-bold">Оплата</span>
            </a>
          </li>
          <li>
            <a href="https://github.com/peterarsentev/job4j_features_bugs" target="_blank"
               class="list-group-item list-group-item-action bg-light">
              <i class="fas fa-info mr-2"></i
              ><span class="font-weight-bold">Критика и предложения</span>
            </a>
          </li>
<!--          <li (click)="scroll()">-->
<!--            <a-->
<!--              [routerLink]="['/exams']"-->
<!--              class="list-group-item list-group-item-action bg-light"-->
<!--            >-->
<!--              <i class="fas fa-info mr-2"></i-->
<!--              ><span class="font-weight-bold">Тесты</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li *ngFor="let book of bookmarks">-->
<!--            <a (click)="scroll()" class="list-group-item list-group-item-action bg-light">-->
<!--                <span-->
<!--                  (click)="goToBook(book)"-->
<!--                  style="cursor: pointer;"-->
<!--                  class="font-weight-bold"-->
<!--                >{{ book.name }}</span-->
<!--                >-->
<!--              <span-->
<!--                (click)="deleteBook(book)"-->
<!--                class="pull-right font-weight-bold"-->
<!--                style="cursor: pointer;"-->
<!--              >-->
<!--                  <i class="fas fa-remove" aria-hidden="true"></i>-->
<!--                </span>-->
<!--            </a>-->
<!--          </li>-->
        </ul>
      </ng-container>
      <a (click)="showProven()"
        class="list-group-item list-group-item-action bg-info">
        Проверенные задачи
        <i *ngIf="proven" class="fas fa-chevron-up fa_icons mr-3"></i>
        <i *ngIf="!proven" class="fas fa-chevron-down fa_icons mr-3"></i>
      </a>
      <ng-container *ngIf="!!proven && !!provenTasks?.length">
        <ul class="list-unstyled">
          <li *ngFor="let task of provenTasks">
            <a (click)="scroll()"
              [routerLink]="['/exercise', task.task.topicId, 'task-view', task.task.taskId, 'solutionId', task.solution.id]"
              class="list-group-item list-group-item-action bg-light">
                <span class="font-weight-bold">
                  <i class="fas fa-tasks mr-2 bg-warning"></i>
                  {{ task.task.taskName }} {{getSolutionId(task)}}
                </span>
            </a>
          </li>
        </ul>
      </ng-container>
      <a (click)="showDoneTasks()"
         class="list-group-item list-group-item-action bg-info">
        Выполненные задачи
        <i *ngIf="flagDoneTasks" class="fas fa-chevron-up fa_icons mr-3"></i>
        <i *ngIf="!flagDoneTasks" class="fas fa-chevron-down fa_icons mr-3"></i>
      </a>
      <ng-container *ngIf="flagDoneTasks && !!doneTasks?.length">
        <ul class="list-unstyled">
          <li *ngFor="let task of doneTasks">
            <a (click)="scroll()"
               [routerLink]="['/exercise', task.task.topicId, 'task-view', task.task.taskId]"
               class="list-group-item list-group-item-action bg-light">
                <span class="font-weight-bold">
                  <i class="fas fa-tasks mr-2 bg-success"></i>
                  {{ task.task.taskName }}
                </span>
            </a>
          </li>
        </ul>
      </ng-container>
      <a (click)="showNew()"
        class="list-group-item list-group-item-action bg-info">
        Новые задачи
        <i *ngIf="newTask" class="fas fa-chevron-up fa_icons mr-3"></i>
        <i *ngIf="!newTask" class="fas fa-chevron-down fa_icons mr-3"></i>
      </a>
      <ng-container *ngIf="newTask && !!newTasks?.length">
        <ul class="list-unstyled">
          <li *ngFor="let task of newTasks">
            <a (click)="scroll()"
               [routerLink]="['/exercise', task.task.topicId, 'task-view', task.task.taskId]"
              class="list-group-item list-group-item-action bg-light">
                <span class="font-weight-bold">
                  <i class="fas fa-tasks mr-2 bg-danger"></i>
                  {{ task.task.taskName }}
                </span>
            </a>
          </li>
        </ul>
      </ng-container>
    </div>
  </div>
</div>
