<div class="row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background-color: #ffffff;">
      <li class="breadcrumb-item" [ngClass]="getClass(idx)" *ngFor="let nav of tasks; let idx=index">
        <a (click)="goToNav(nav)">
          {{ nav.nameCutted }}
        </a>
      </li>
    </ol>
  </nav>
</div>
<div class="container pb-2">
  <div class="card" *ngFor="let message of emergency">
    <div class="card-body">
      <small class="card-text">{{ message.key }}</small><br/>
      <p>{{ message.value }}</p>
    </div>
  </div>
</div>
