<ng-container>
<div class="row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white">
      <li class="breadcrumb-item small" *ngFor="let nav of solutions; let idx=index"
      [ngClass]="{'ref-link': idx !== solutions.length -1}">
        <a (click)="goToSol(nav, idx)">
          {{ nav.name }}
        </a>
      </li>
    </ol>
  </nav>
</div>
</ng-container>
<ng-container  *ngIf="show">
<div class="row p-3" *ngFor="let message of emergency">
    <div class="card w-100">
      <div class="card-body bg-white">
        <small class="card-text">{{ message.key }}</small>
        <div>{{ message.value }}</div>
      </div>
    </div>
</div>
</ng-container>
