<div class="row" *ngIf="show">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background-color: #ffffff;">
      <li class="breadcrumb-item small ref-link" *ngFor="let nav of tasks; let idx=index">
        <a (click)="goToNav(nav)">
          {{ nav.nameCutted }}
        </a>
      </li>
    </ol>
  </nav>
</div>
<ng-container  *ngIf="show">
<div class="row p-3" *ngFor="let message of emergency">
    <div class="card w-100">
      <div class="card-body">
        <small class="card-text">{{ message.key }}</small>
        <pre>{{ message.value }}</pre>
      </div>
    </div>
</div>
</ng-container>
