<div class="row pt-2">
  <div class="w-100 card">
    <div class="card-header">
      <div class="font-weight-bold">Лидеры: </div>
    </div>
    <div class="card-body">
      <table class="table">
        <tbody>
        <tr *ngFor="let leader of leaders">
          <td (click)="openProfile(leader.userId, leader.login)" style="cursor: pointer;">
            <i class="fa fa-user"></i> {{ leader.username }}
          </td>
          <td>{{ leader.finish | date: 'dd.MM.yyyy HH:mm' }}</td>
          <td>{{ leader.score }}%</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
