<div class="container-fluid">
  <app-task-code-form [taskClass]="solutionAndTaskCode.solution?.code || solutionAndTaskCode.taskcode.code"
                      [taskModel]="solutionAndTaskCode?.taskcode"
                      [taskTest]="solutionAndTaskCode.taskcode?.testCode"
                      [status]="solutionAndTaskCode.solution?.statusId"
                      [output]="output"
                      [disabled]="disabled"
                      [count]="countSolvedTasks"
                      [explanation]="solutionAndTaskCode.taskcode.explanation"
                      (submitTaskEmitter)="submitTask($event)"
                      (goToSolutions)="goToSolutions()"
                      (resetEmitter)="resetSolution($event)"
  ></app-task-code-form>
  <app-discussion-block [discussions]="discussions"
                        [user]="user"
                        (addResponse)="addResponse($event)"
                        (updateEmitter)="updateDiscussion($event)"
                        (closeEmitter)="closeDiscussion($event)"
                        (deleteEmitter)="deleteDiscussion($event)"
  ></app-discussion-block>
</div>
