<div class="card">
  <div class="card-header">
    <div>
                  <span class="font-weight-bold w-50">
                    {{ interview.title }}
                  </span>
    </div>
    <div>
      <small class="mb-2 text-muted">
        <span class="mr-3">{{'Автор: ' + interview.submitterName }}</span>
        <span class="mr-3" *ngIf="hasApproved">{{ 'Связаться со мной: ' + interview.contactBy }}</span>
        <span class="mr-3">{{'Дата проведения: ' +  interview.approximateDate }}</span>
        <span> {{ 'Я буду: ' + ( interview.type === 'CONDUCT' ? 'задавать вопросы.' : 'отвечать на вопросы.')}}</span>
      </small>
      <div *ngIf="interview.submitterId === +user?.id" class="pull-right">
      <button (click)="cansel()" class="btn btn-outline-warning btn-sm">Отменить</button>
      <button (click)="update()" class="btn btn-outline-success btn-sm m-1">Редактировать</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text" [innerHTML]="interview.description"></p>
    <div *ngIf="!showInput && (user?.id != interview?.submitterId && !requestWasSend)">
      <button (click)="joinToInterview()" class="btn btn-primary"> Принять участие </button>
    </div>
    <div *ngIf="showAlert" class="alert alert-danger mt-1" role="alert">
      {{'Необходимо оставить отзыв о проведенном '}}<a [routerLink]="'/interviews/view/' + existingId">Собеседовании</a>
    </div>
    <div *ngIf="showInput" class="form-group">
      <label for="contact">{{ 'Связаться со мной phone / email / telegram' }}</label>
      <input [(ngModel)]="contact"
             type="text" class="form-control" id="contact"
             aria-describedby="emailHelp" placeholder="Способ связи">
      <button [disabled]="!contact"
              (click)="sendRequest()"
              class=" mt-2 btn btn-primary">Отправить заявку</button>
    </div>
  </div>
  <div *ngIf="interview.wishers && interview.wishers.length > 0">
    <div class="container-fluid">
      <div class="row">
        <table class="table">
          <caption></caption>
          <thead>
          <tr>
            <th scope="col">Участник</th>
            <th scope="col">Состояние заявки</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let wisher of interview.wishers; let idx=index">
            <tr>
              <td>
                <div>
                  <i class="fas fa-tasks pr-3"></i>
                  <span class="font-weight-bold">{{ wisher.name }}</span>
                </div>
                <p *ngIf="!!wisher.contactBy" class="mb-2 text-muted">
                  <span>
                    <span class="mr-3">Контактные данные : {{ wisher.contactBy}}</span>
                  </span>
                </p>
              </td>
              <td *ngIf="user?.id != interview?.submitterId">
                <small class="mb-2 text-muted">
                  <span *ngIf="!!wisher.userScore">
                  <span class="mr-3"> Принято:{{wisher.userScore.countConduct}}, Средний балл: {{wisher.userScore.conductScore}}</span>
                  <span class="mr-3"> Сдано:{{wisher.userScore.countPass}}, Средний балл: {{wisher.userScore.passScore}}</span>
                </span>
                </small>
                {{ wisher.approve ? 'Согласовано' : 'Рассматривается'}}
              </td>
              <td *ngIf="user?.id == interview?.submitterId">
                <small class="mb-2 text-muted">
                  <span *ngIf="!!wisher.userScore">
                  <span class="mr-3"> Принято:{{wisher.userScore.countConduct}}, Средний балл: {{wisher.userScore.conductScore}}</span>
                  <span class="mr-3"> Сдано:{{wisher.userScore.countPass}}, Средний балл: {{wisher.userScore.passScore}}</span>
                </span>
                </small>
                <button (click)="sendApprove(wisher)" [disabled]="wisher.approve || hasApproved" class="btn btn-primary">
                  {{ wisher.approve ? 'Согласовано' : hasApproved ? 'Отклонено' :  'Подтвердить участие'}}</button>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="interview.status === 'AWAITING' || interview.status === 'CLOSED'">
    <div *ngIf="(author && !interview.wisherScore || !author && !interview.submitterScore) else review">
      <div>
        <button *ngIf="!show" (click)="showForm()" class="btn-primary btn mb-2">Оставить отзыв</button>
        <form *ngIf="show" [formGroup]="form">
          <div class="form-group">
            <label for="exampleInputEmail1">{{ 'Оцените участника (' + (interview.submitterId.toString() === user.id ? wisher.name : interview.submitterName) + ') от 1 до 5' }}</label>
            <input formControlName="score"
                   type="number" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp" placeholder="Введите оценку опоненту">
          </div>
          <div class="form-group">
            <app-redactor [text]="form?.get('comment').value"
                          [titleLabel]="'Комметарий'"
                          (outputEmitter)="setDescription($event)">
            </app-redactor>
          </div>
          <button (click)="sendReview()" [disabled]="form.invalid" type="button" class="btn btn-primary">Сохранить</button>
        </form>
      </div>
    </div>
    <ng-template #review>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Участник: {{ interview.submitterName }} </h5>
              <h5 class="card-title">Оценка:  {{ interview.submitterScore }} </h5>
              <p class="card-text" [innerHTML]="'Комментарий: ' + interview.feedbackToSubmitter"></p>
            </div>
          </div>
        </div>
        <div *ngIf="!!wisher" class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Участник: {{ wisher.name }} </h5>
              <h5 class="card-title">Оценка:  {{ interview.wisherScore }}</h5>
              <p class="card-text" [innerHTML]="'Комментарий: ' + interview.feedbackToWisher"></p>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
