<div class="container-fluid">
  <div class="row">
    <div class="pb-3">
      <ng-container *ngFor="let status of mstatuses">
        <button class="m btn btn-light btn-sm pr-6 mr-2" (click)="goToNewTask(status)">
          <i class="fas fa-plus pr-1"></i>{{ status.name }}
        </button>
      </ng-container>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Задания</th>
        <th scope="col" *ngIf="tasks?.length && tasks[0].task.childrenCount > 0">Прогресс</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let task of tasks; let idx = index">
        <td (click)="openTask(task.task)" style="cursor: pointer;">
          <div>
            <i *ngIf="task.task.childrenCount > 0" class="fas fa-folder pr-3"></i>
            <i *ngIf="task.task.childrenCount == 0" class="fas fa-tasks pr-3"></i>
            <span>{{task.task.name}} [{{task.task.number}}]</span>
          </div>
          <small class="mb-2 text-muted">
            <span *ngIf="task.status.start" class="badge badge-danger mr-3">{{ task.status.name }}</span>
            <span *ngIf="task.status.finish" class="badge badge-success mr-3">{{ task.status.name }}</span>
            <span *ngIf="!(task.status.finish || task.status.start)" class="badge badge-warning mr-3">{{ task.status.name }}</span>
            <span *ngIf="task.handler" class="mr-3">Ответственный : {{ task.handler.name }}</span>
            <span class="mr-3">Создана : {{ task.task.submitdate | date: 'hh:mm dd.MM.yyyy' }}</span>
            <span>Обновлена : {{  task.task.updatedate | date: 'hh:mm dd.MM.yyyy' }}</span>
          </small>
        </td>
        <td *ngIf="task.task.childrenCount > 0">
          <app-progress-bar [task]="task.task"></app-progress-bar>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
